# Wrangle Data with WeRateDogs through Twitter API


**Goal:** wrangle WeRateDogs Twitter data to create interesting and trustworthy analyses and visualizations.

The Twitter archive is great, but it only contains very basic tweet information. Additional gathering, then assessing and cleaning is required for "Wow!"-worthy analyses and visualizations.

Find at least **8 quality issues** and **2 tidiness issues**. Provide at least **3 insights** and **1 visualization** after data wrangling.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import os
import json
from datetime import datetime

%matplotlib inline

In [588]:
import dill
dill.dump_session('notebook_session.db')
#dill.load_session('notebook_session.db')

# Gather

In [2]:
#read in the WeRateDogs twitter archive
twitter_archive = pd.read_csv('twitter-archive-enhanced.csv')

In [3]:
#install breed predictions of a neural network for dogs
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
r = requests.get(url)

with open(os.path.join('./', url.split('/')[-1]), mode='wb') as file:
    file.write(r.content)

In [4]:
image_predictions = pd.read_csv('image-predictions.tsv', sep='\t')

So for the last row under `image-predictions.tsv`:

- tweet_id is the last part of the tweet URL after "status/" → https://twitter.com/dog_rates/status/889531135344209921

- p1 is the algorithm's #1 prediction for the image in the tweet → **golden retriever**

- p1_conf is how confident the algorithm is in its #1 prediction → **95%**

- p1_dog is whether or not the #1 prediction is a breed of dog → **TRUE**

- p2 is the algorithm's second most likely prediction → **Labrador retriever**

- p2_conf is how confident the algorithm is in its #2 prediction → **1%**

- p2_dog is whether or not the #2 prediction is a breed of dog → **TRUE**
etc.

> Use Tweepy (Twitter API) for each tweet's JSON data using the tweet IDs under the WeRateDogs archive.

In [5]:
#handle environment variables
from os.path import join, dirname
from dotenv import load_dotenv

path = './weratedogs-env-vars.env'
load_dotenv(dotenv_path = path, verbose = True)

True

In [6]:
#create API object
import tweepy

consumer_key = os.getenv('CONSUMER_KEY')
consumer_secret = os.getenv('CONSUMER_SECRET')
access_token = os.getenv('TOKEN')
access_secret = os.getenv('TOKEN_SECRET')

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [45]:
#save JSON tweet data to tweet_json.txt

tweet_ids = twitter_archive.tweet_id
num_success = 0
num_errors = 0

start_time = datetime.now()

with open('error_file.txt', 'w', encoding='utf-8') as errfile:
    with open('tweet_json.txt', 'w', encoding='utf-8') as outfile:
        for tweet_id in tweet_ids:
            try: 
                tweet = api.get_status(tweet_id)
                tweet_json = json.dumps(tweet._json)
                json.dump(tweet_json, outfile)
                outfile.write('\n')
                num_success += 1
                print(tweet_id)
            except tweepy.TweepError as e:
                err_string = '{}: {}'.format(tweet_id, e.args[0][0]['message'])
                errfile.write(err_string)
                errfile.write('\n')
                num_errors += 1
                print(err_string)
                continue
        
time_elapsed = datetime.now() - start_time

print('Time elapsed (hh:mm:ss:ms): {}'.format(time_elapsed))
print('Valid tweets: {}'.format(num_success))
print('Invalid tweets: {}'.format(num_errors))

892420643555336193
892177421306343426
891815181378084864
891689557279858688
891327558926688256
891087950875897856
890971913173991426
890729181411237888
890609185150312448
890240255349198849
890006608113172480
889880896479866881
889665388333682689
889638837579907072
889531135344209921
889278841981685760
888917238123831296
888804989199671297
888554962724278272
888202515573088257: No status found with that ID.
888078434458587136
887705289381826560
887517139158093824
887473957103951883
887343217045368832
887101392804085760
886983233522544640
886736880519319552
886680336477933568
886366144734445568
886267009285017600
886258384151887873
886054160059072513
885984800019947520
885528943205470208
885518971528720385
885311592912609280
885167619883638784
884925521741709313
884876753390489601
884562892145688576
884441805382717440
884247878851493888
884162670584377345
883838122936631299
883482846933004288
883360690899218434
883117836046086144
882992080364220416
882762694511734784
882627270321602560
882268110199369728
882045870035918850
881906580714921986
881666595344535552
881633300179243008
881536004380872706
881268444196462592
880935762899988482
880872448815771648
880465832366813184
880221127280381952
880095782870896641
879862464715927552
879674319642796034
879492040517615616
879415818425184262
879376492567855104
879130579576475649
879050749262655488
879008229531029506
878776093423087618
878604707211726852
878404777348136964
878316110768087041
878281511006478336
878057613040115712
877736472329191424
877611172832227328
877556246731214848
877316821321428993
877201837425926144
876838120628539392
876537666061221889
876484053909872640
876120275196170240
875747767867523072
875144289856114688
875097192612077568
875021211251597312
874680097055178752
874434818259525634
874296783580663808
874057562936811520
874012996292530176
873697596434513921: No status found with that ID.
873580283840344065
873337748698140672
873213775632977920
872967104147763200
872820683541237760
872668790621863937: No status found with that ID.
872620804844003328
872486979161796608
872261713294495745: No status found with that ID.
872122724285648897
871879754684805121
871762521631449091
871515927908634625
871166179821445120
871102520638267392
871032628920680449
870804317367881728
870726314365509632
870656317836468226
870374049280663552
870308999962521604
870063196459192321
869988702071779329: No status found with that ID.
869772420881756160
869702957897576449
869596645499047938
869227993411051520
868880397819494401
868639477480148993
868622495443632128
868552278524837888
867900495410671616
867774946302451713
867421006826221569
867072653475098625
867051520902168576
866816280283807744: No status found with that ID.
866720684873056260
866686824827068416
866450705531457537
866334964761202691
866094527597207552
865718153858494464
865359393868664832
865006731092295680
864873206498414592
864279568663928832
864197398364647424
863907417377173506
863553081350529029
863471782782697472
863432100342583297
863427515083354112
863079547188785154
863062471531167744
862831371563274240
862722525377298433
862457590147678208
862096992088072192
861769973181624320: No status found with that ID.
861383897657036800
861288531465048066
861005113778896900
860981674716409858
860924035999428608
860563773140209665
860524505164394496
860276583193509888
860184849394610176
860177593139703809
859924526012018688
859851578198683649
859607811541651456
859196978902773760
859074603037188101
858860390427611136
858843525470990336
858471635011153920
858107933456039936
857989990357356544
857746408056729600
857393404942143489
857263160327368704
857214891891077121
857062103051644929
857029823797047296
856602993587888130: No status found with that ID.
856543823941562368
856526610513747968
856330835276025856
856288084350160898
856282028240666624
855862651834028034
855860136149123072
855857698524602368
855851453814013952
855818117272018944
855459453768019968
855245323840757760
855138241867124737
854732716440526848
854482394044301312
854365224396361728
854120357044912130
854010172552949760
853760880890318849
853639147608842240
853299958564483072
852936405516943360
852912242202992640
852672615818899456
852553447878664193
852311364735569921
852226086759018497
852189679701164033
851953902622658560: No status found with that ID.
851861385021730816
851591660324737024
851464819735769094
851224888060895234
850753642995093505
850380195714523136
850333567704068097
850145622816686080
850019790995546112
849776966551130114
849668094696017920
849412302885593088
849336543269576704
849051919805034497
848690551926992896
848324959059550208
848213670039564288
848212111729840128
847978865427394560
847971574464610304
847962785489326080
847842811428974592
847617282490613760
847606175596138505
847251039262605312
847157206088847362
847116187444137987
846874817362120707
846514051647705089
846505985330044928
846153765933735936
846139713627017216
846042936437604353
845812042753855489
845677943972139009
845459076796616705: No status found with that ID.
845397057150107648
845306882940190720
845098359547420673
844979544864018432
844973813909606400
844704788403113984: No status found with that ID.
844580511645339650
844223788422217728
843981021012017153
843856843873095681
843604394117681152
843235543001513987
842892208864923648: No status found with that ID.
842846295480000512
842765311967449089
842535590457499648
842163532590374912
842115215311396866
841833993020538882
841680585030541313
841439858740625411
841320156043304961
841314665196081154
841077006473256960
840761248237133825
840728873075638272
840698636975636481
840696689258311684
840632337062862849
840370681858686976
840268004936019968
839990271299457024
839549326359670784
839290600511926273
839239871831150596
838952994649550848
838921590096166913
838916489579200512
838831947270979586
838561493054533637
838476387338051585
838201503651401729
838150277551247360
838085839343206401
838083903487373313
837820167694528512
837482249356513284
837471256429613056
837366284874571778: No status found with that ID.
837110210464448512
837012587749474308: No status found with that ID.
836989968035819520
836753516572119041
836677758902222849
836648853927522308
836397794269200385
836380477523124226
836260088725786625
836001077879255040
835685285446955009
835574547218894849
835536468978302976
835309094223372289
835297930240217089
835264098648616962
835246439529840640
835172783151792128
835152434251116546
834931633769889797
834786237630337024
834574053763584002
834477809192075265
834458053273591808
834209720923721728
834167344700198914
834089966724603904
834086379323871233
833863086058651648
833826103416520705
833732339549220864
833722901757046785
833479644947025920
833124694597443584
832998151111966721
832769181346996225
832757312314028032
832682457690300417
832645525019123713
832636094638288896
832397543355072512
832369877331693569
832273440279240704
832215909146226688
832215726631055365
832088576586297345
832040443403784192
832032802820481025
831939777352105988
831926988323639298
831911600680497154
831670449226514432
831650051525054464
831552930092285952
831322785565769729
831315979191906304
831309418084069378
831262627380748289
830956169170665475
830583320585068544
830173239259324417
830097400375152640
829878982036299777
829861396166877184
829501995190984704
829449946868879360
829374341691346946: No status found with that ID.
829141528400556032
829011960981237760
828801551087042563
828770345708580865
828708714936930305
828650029636317184
828409743546925057
828408677031882754
828381636999917570
828376505180889089
828372645993398273
828361771580813312
828046555563323392
828011680017821696
827933404142436356
827653905312006145
827600520311402496
827324948884643840
827228250799742977: No status found with that ID.
827199976799354881
826958653328592898
826848821049180160
826615380357632002
826598799820865537
826598365270007810
826476773533745153
826240494070030336
826204788643753985
826115272272650244
825876512159186944
825829644528148480
825535076884762624
825147591692263424
825120256414846976
825026590719483904
824796380199809024
824775126675836928
824663926340194305
824325613288833024
824297048279236611
824025158776213504
823939628516474880

823719002937630720
823699002998870016
823581115634085888
823333489516937216
823322678127919110
823269594223824897
822975315408461824
822872901745569793
822859134160621569
822647212903690241
822610361945911296
822489057087389700
822462944365645825
822244816520155136
822163064745328640
821886076407029760
821813639212650496
821765923262631936
821522889702862852
821421320206483457
821407182352777218
821153421864615936
821149554670182400
821107785811234820
821044531881721856
820837357901512704
820749716845686786
820690176645140481
820494788566847489
820446719150292993
820314633777061888
820078625395449857
820013781606658049
819952236453363712
819924195358416896
819711362133872643
819588359383371776
819347104292290561
819238181065359361
819227688460238848
819015337530290176
819015331746349057
819006400881917954
819004803107983360
818646164899774465
818627210458333184
818614493328580609
818588835076603904
818536468981415936
818307523543449600
818259473185828864
818145370475810820
817908911860748288
817827839487737858
817777686764523521
817536400337801217
817502432452313088
817423860136083457
817415592588222464
817181837579653120
817171292965273600
817120970343411712
817056546584727552
816829038950027264
816816676327063552
816697700272001025
816450570814898180
816336735214911488
816091915477250048
816062466425819140
816014286006976512
815990720817401858
815966073409433600
815745968457060357
815736392542261248
815639385530101762
815390420867969024
814986499976527872
814638523311648768
814578408554463233
814530161257443328
814153002265309185
813944609378369540
813910438903693312
813812741911748608
813800681631023104
813217897535406080
813202720496779264
813187593374461952
813172488309972993
813157409116065792
813142292504645637
813130366689148928
813127251579564032
813112105746448384
813096984823349248
813081950185472002
813066809284972545
813051746834595840
812781120811126785
812747805718642688: No status found with that ID.
812709060537683968
812503143955202048
812466873996607488
812372279581671427
811985624773361665
811744202451197953
811647686436880384
811627233043480576
811386762094317568
810984652412424192
810896069567610880
810657578271330305
810284430598270976
810254108431155201
809920764300447744
809808892968534016
809448704142938112
809220051211603969
809084759137812480
808838249661788160
808733504066486276
808501579447930884
808344865868283904
808134635716833280
808106460588765185
808001312164028416
807621403335917568
807106840509214720
807059379405148160
807010152071229440
806629075125202948
806620845233815552
806576416489959424
806542213899489280
806242860592926720
806219024703037440
805958939288408065
805932879469572096
805826884734976000
805823200554876929
805520635690676224
805487436403003392
805207613751304193
804738756058218496
804475857670639616
804413760345620481
804026241225523202
803773340896923648
803692223237865472
803638050916102144
803380650405482500
803321560782307329
803276597545603072
802952499103731712
802624713319034886
802600418706604034
802572683846291456
802323869084381190
802265048156610565
802247111496568832: No status found with that ID.
802239329049477120
802185808107208704
801958328846974976
801854953262350336
801538201127157760
801285448605831168
801167903437357056
801127390143516673
801115127852503040
800859414831898624
800855607700029440
800751577355128832
800513324630806528
800459316964663297
800443802682937345
800388270626521089
800188575492947969
800141422401830912
800018252395122689
799774291445383169
799757965289017345
799422933579902976
799308762079035393
799297110730567681
799063482566066176
798933969379225600
798925684722855936
798705661114773508
798701998996647937
798697898615730177
798694562394996736
798686750113755136
798682547630837760
798673117451325440
798665375516884993
798644042770751489
798628517273620480
798585098161549313
798576900688019456
798340744599797760
798209839306514432
797971864723324932
797545162159308800
797236660651966464
797165961484890113
796904159865868288
796865951799083009
796759840936919040
796563435802726400
796484825502875648
796387464403357696
796177847564038144
796149749086875649
796125600683540480
796116448414461957
796080075804475393
796031486298386433
795464331001561088
795400264262053889
795076730285391872
794983741416415232
794926597468000259
794355576146903043
794332329137291264
794205286408003585
793962221541933056
793845145112371200
793614319594401792
793601777308463104
793500921481273345
793286476301799424
793271401113350145
793256262322548741
793241302385262592
793226087023144960
793210959003287553
793195938047070209
793180763617361921
793165685325201412
793150605191548928
793135492858580992
793120401413079041
792913359805018113
792883833364439040
792773781206999040
792394556390137856
792050063153438720
791821351946420224
791784077045166082
791780927877898241
791774931465953280
791672322847637504
791406955684368384
791312159183634433
791026214425268224
790987426131050500
790946055508652032
790723298204217344
790698755171364864
790581949425475584
790337589677002753
790277117346975746
790227638568808452
789986466051088384
789960241177853952
789903600034189313
789628658055020548
789599242079838210
789530877013393408
789314372632018944
789280767834746880
789268448748703744
789137962068021249
788908386943430656
788765914992902144
788552643979468800
788412144018661376
788178268662984705
788150585577050112
788070120937619456
788039637453406209

Rate limit reached. Sleeping for: 362

787810552592695296
787717603741622272
787397959788929025
787322443945877504
787111942498508800
786963064373534720
786729988674449408
786709082849828864
786664955043049472
786595970293370880
786363235746385920
786286427768250368
786233965241827333
786051337297522688
786036967502913536
785927819176054784
785872687017132033
785639753186217984
785533386513321988
785515384317313025
785264754247995392
785170936622350336
784826020293709826
784517518371221505
784431430411685888
784183165795655680
784057939640352768
783839966405230592
783821107061198850
783695101801398276
783466772167098368
783391753726550016
783347506784731136
783334639985389568
783085703974514689
782969140009107456
782747134529531904
782722598790725632
782598640137187329
782305867769217024
782021823840026624
781955203444699136
781661882474196992
781655249211752448
781524693396357120
781308096455073793
781251288990355457
781163403222056960
780931614150983680
780858289093574656
780800785462489090
780601303617732608
780543529827336192
780496263422808064
780476555013349377
780459368902959104
780192070812196864
780092040432480260
780074436359819264
779834332596887552
779377524342161408
779124354206535695
779123168116150273
779056095788752897
778990705243029504
778774459159379968
778764940568104960
778748913645780993
778650543019483137
778624900596654080
778408200802557953
778396591732486144
778383385161035776
778286810187399168
778039087836069888
778027034220126208
777953400541634568
777885040357281792
777684233540206592
777641927919427584
777621514455814149
777189768882946048
776819012571455488
776813020089548800
776477788987613185
776249906839351296
776218204058357768
776201521193218049
776113305656188928
776088319444877312
775898661951791106
775842724423557120
775733305207554048
775729183532220416
775364825476165632
775350846108426240
775096608509886464: No status found with that ID.
775085132600442880
774757898236878852
774639387460112384
774314403806253056
773985732834758656
773922284943896577
773704687002451968
773670353721753600
773547596996571136
773336787167145985
773308824254029826
773247561583001600
773191612633579521
772877495989305348
772826264096874500
772615324260794368
772581559778025472
772193107915964416
772152991789019136
772117678702071809
772114945936949249
772102971039580160
771908950375665664
771770456517009408
771500966810099713
771380798096281600
771171053431250945
771136648247640064
771102124360998913
771014301343748096
771004394259247104
770787852854652928
770772759874076672
770743923962707968: No status found with that ID.
770655142660169732
770414278348247044
770293558247038976
770093767776997377
770069151037685760
769940425801170949
769695466921623552
769335591808995329
769212283578875904
768970937022709760
768909767477751808
768855141948723200
768609597686943744
768596291618299904
768554158521745409
768473857036525572
768193404517830656
767884188863397888
767754930266464257
767500508068192258
767191397493538821
767122157629476866
766864461642756096
766793450729734144
766714921925144576
766693177336135680
766423258543644672
766313316352462849
766078092750233600
766069199026450432
766008592277377025
765719909049503744
765669560888528897
765395769549590528
765371061932261376
765222098633691136
764857477905154048
764259802650378240
763956972077010945
763837565564780549
763183847194451968
763167063695355904
763103485927849985
762699858130116608
762471784394268675
762464539388485633
762316489655476224
762035686371364864
761976711479193600
761750502866649088
761745352076779520
761672994376806400
761599872357261312
761371037149827077
761334018830917632
761292947749015552
761227390836215808
761004547850530816
760893934457552897
760656994973933572
760641137271070720
760539183865880579
760521673607086080
760290219849637889
760252756032651264
760190180481531904
760153949710192640
759943073749200896
759923798737051648
759846353224826880
759793422261743616
759566828574212096
759557299618865152
759447681597108224
759446261539934208
759197388317847553
759159934323924993
759099523532779520
759047813560868866
758854675097526272
758828659922702336
758740312047005698
758474966123810816
758467244762497024
758405701903519748
758355060040593408
758099635764359168
758041019896193024
757741869644341248
757729163776290825
757725642876129280
757611664640446465
757597904299253760
757596066325864448
757400162377592832
757393109802180609
757354760399941633
756998049151549440
756939218950160384
756651752796094464
756526248105566208
756303284449767430
756288534030475264
756275833623502848
755955933503782912
755206590534418437
755110668769038337
754874841593970688
754856583969079297
754747087846248448
754482103782404096
754449512966619136
754120377874386944
754011816964026368: No status found with that ID.
753655901052166144
753420520834629632
753398408988139520
753375668877008896
753298634498793472
753294487569522689
753039830821511168
753026973505581056
752932432744185856
752917284578922496
752701944171524096
752682090207055872
752660715232722944
752568224206688256
752519690950500352
752334515931054080
752309394570878976
752173152931807232
751950017322246144
751937170840121344
751830394383790080
751793661361422336
751598357617971201
751583847268179968
751538714308972544
751456908746354688
751251247299190784
751205363882532864
751132876104687617
750868782890057730
750719632563142656
750506206503038976
750429297815552001
750383411068534784
750381685133418496
750147208377409536
750132105863102464
750117059602808832
750101899009982464
750086836815486976
750071704093859840
750056684286914561
750041628174217216
750026558547456000
750011400160841729
749996283729883136
749981277374128128
749774190421639168
749417653287129088
749403093750648834
749395845976588288
749317047558017024
749075273010798592
749064354620928000
749036806121881602
748977405889503236
748932637671223296
748705597323898880
748699167502000129
748692773788876800
748575535303884801
748568946752774144
748346686624440324
748337862848962560
748324050481647620
748307329658011649
748220828303695873
747963614829678593
747933425676525569
747885874273214464
747844099428986880
747816857231626240
747651430853525504
747648653817413632
747600769478692864
747594051852075008
747512671126323200
747461612269887489
747439450712596480
747242308580548608
747219827526344708
747204161125646336
747103485104099331
746906459439529985
746872823977771008
746818907684614144
746790600704425984
746757706116112384
746726898085036033
746542875601690625
746521445350707200
746507379341139972
746369468511756288
746131877086527488
746056683365994496
745789745784041472
745712589599014916
745433870967832576
745422732645535745
745314880350101504
745074613265149952
745057283344719872
744995568523612160
744971049620602880
744709971296780288
744334592493166593
744234799360020481
744223424764059648
743980027717509120
743895849529389061
743835915802583040
743609206067040256
743595368194129920
743545585370791937
743510151680958465
743253157753532416
743222593470234624
743210557239623680
742534281772302336
742528092657332225
742465774154047488
742423170473463808
742385895052087300
742161199639494656
742150209887731712
741793263812808706
741743634094141440
741438259667034112
741303864243200000
741099773336379392
741067306818797568
740995100998766593
740711788199743490
740699697422163968
740676976021798912
740373189193256964
740365076218183684
740359016048689152
740214038584557568
739979191639244800
739932936087216128
739844404073074688
739623569819336705
739606147276148736
739544079319588864
739485634323156992
739238157791694849
738891149612572673
738885046782832640
738883359779196928
738537504001953792
738402415918125056
738184450748633089
738166403467907072
738156290900254721
737826014890496000
737800304142471168
737678689543020544
737445876994609152
737322739594330112
737310737551491075
736736130620620800
736392552031657984
736365877722001409
736225175608430592
736010884653420544
735991953473572864
735648611367784448
735635087207878657
735274964362878976
735256018284875776
735137028879360001
734912297295085568
734787690684657664
734776360183431168
734559631394082816
733828123016450049
733822306246479872
733482008106668032
733460102733135873
733109485275860992
732732193018155009

732726085725589504
732585889486888962
732375214819057664
732005617171337216
731285275100512256
731156023742988288
730924654643314689
730573383004487680
730427201120833536
730211855403241472
730196704625098752
729854734790754305
729838605770891264
729823566028484608
729463711119904772
729113531270991872
728986383096946689
728760639972315136
728751179681943552
728653952833728512
728409960103686147
728387165835677696
728046963732717569
728035342121635841
728015554473250816
727685679342333952
727644517743104000
727524757080539137
727314416056803329
727286334147182592
727175381690781696
727155742655025152
726935089318363137
726887082820554753
726828223124897792
726224900189511680
725842289046749185
725786712245440512
725729321944506368
725458796924002305
724983749226668032
724771698126512129
724405726123311104
724049859469295616
724046343203856385
724004602748780546
723912936180330496
723688335806480385
723673163800948736
723179728551723008
722974582966214656
722613351520608256
721503162398597120
721001180231503872
720785406564900865
720775346191278080
720415127506415616
720389942216527872
720340705894408192
720059472081784833
720043174954147842
719991154352222208
719704490224398336
719551379208073216
719367763014393856
719339463458033665
719332531645071360
718971898235854848
718939241951195136
718631497683582976
718613305783398402
718540630683709445
718460005985447936
718454725339934721
718246886998687744
718234618122661888
717841801130979328
717790033953034240
717537687239008257
717428917016076293
717421804990701568
717047459982213120
717009362452090881
716802964044845056
716791146589110272
716730379797970944
716447146686459905
716439118184652801
716285507865542656
716080869887381504
715928423106027520
715758151270801409
715733265223708672
715704790270025728
715696743237730304
715680795826982913
715360349751484417
715342466308784130
715220193576927233
715200624753819648
715009755312439296
714982300363173890
714962719905021952
714957620017307648
714631576617938945
714606013974974464
714485234495041536
714258258790387713
714251586676113411
714214115368108032
714141408463036416
713919462244790272
713909862279876608
713900603437621249
713761197720473600
713411074226274305
713177543487135744
713175907180089344
712809025985978368
712717840512598017
712668654853337088
712438159032893441
712309440758808576
712097430750289920
712092745624633345
712085617388212225
712065007010385924
711998809858043904
711968124745228288
711743778164514816
711732680602345472
711694788429553666
711652651650457602
711363825979756544
711306686208872448
711008018775851008
710997087345876993
710844581445812225
710833117892898816
710658690886586372
710609963652087808
710588934686908417
710296729921429505
710283270106132480
710272297844797440
710269109699739648
710153181850935296
710140971284037632
710117014656950272
709918798883774466
709901256215666688
709852847387627521
709566166965075968
709556954897764353
709519240576036864
709449600415961088
709409458133323776
709225125749587968
709207347839836162
709198395643068416
709179584944730112
709158332880297985
709042156699303936
708853462201716736
708845821941387268
708834316713893888
708810915978854401
708738143638450176
708711088997666817
708479650088034305
708469915515297792
708400866336894977
708356463048204288
708349470027751425
708149363256774660
708130923141795840
708119489313951744
708109389455101952
708026248782585858
707995814724026368
707983188426153984
707969809498152960
707776935007539200
707741517457260545
707738799544082433
707693576495472641
707629649552134146
707610948723478529
707420581654872064
707411934438625280
707387676719185920
707377100785885184
707315916783140866
707297311098011648
707059547140169728
707038192327901184
707021089608753152
707014260413456384
706904523814649856
706901761596989440
706681918348251136
706644897839910912
706593038911545345
706538006853918722
706516534877929472
706346369204748288
706310011488698368
706291001778950144
706265994973601792
706169069255446529
706166467411222528
706153300320784384
705975130514706432
705970349788291072
705898680587526145
705786532653883392
705591895322394625
705475953783398401
705442520700944385
705428427625635840
705239209544720384
705223444686888960
705102439679201280
705066031337840642
704871453724954624
704859558691414016
704847917308362754
704819833553219584
704761120771465216
704499785726889984
704491224099647488
704480331685040129
704364645503647744
704347321748819968
704134088924532736
704113298707505153
704054845121142784
703774238772166656
703769065844768768
703631701117943808
703611486317502464
703425003149250560
703407252292673536
703382836347330562
703356393781329922
703268521220972544
703079050210877440
703041949650034688
702932127499816960
702899151802126337
702684942141153280
702671118226825216
702598099714314240
702539513671897089
702332542343577600
702321140488925184
702276748847800320
702217446468493312
701981390485725185
701952816642965504
701889187134500865
701805642395348998
701601587219795968
701570477911896070
701545186879471618
701214700881756160
700890391244103680
700864154249383937
700847567345688576
700796979434098688
700747788515020802
700518061187723268
700505138482569216
700462010979500032
700167517596164096
700151421916807169
700143752053182464
700062718104104960
700029284593901568
700002074055016451
699801817392291840
699788877217865730
699779630832685056
699775878809702401
699691744225525762
699446877801091073
699434518667751424
699423671849451520
699413908797464576
699370870310113280
699323444782047232
699088579889332224
699079609774645248
699072405256409088
699060279947165696
699036661657767936
698989035503689728
698953797952008193
698907974262222848
698710712454139905
698703483621523456
698635131305795584
698549713696649216
698355670425473025
698342080612007937
698262614669991936
698195409219559425
698178924120031232
697995514407682048
697990423684476929
697943111201378304
697881462549430272
697630435728322560
697616773278015490
697596423848730625
697575480820686848
697516214579523584
697482927769255936
697463031882764288
697270446429966336
697259378236399616
697255105972801536
697242256848379904
696900204696625153
696894894812565505
696886256886657024
696877980375769088
696754882863349760
696744641916489729
696713835009417216
696518437233913856
696490539101908992
696488710901260288
696405997980676096
696100768806522880
695816827381944320
695794761660297217
695767669421768709
695629776980148225
695446424020918272
695409464418041856
695314793360662529
695095422348574720
695074328191332352
695064344191721472
695051054296211456
694925794720792577
694905863685980160
694669722378485760
694356675654983680
694352839993344000
694342028726001664
694329668942569472
694206574471057408
694183373896572928
694001791655137281
693993230313091072
693942351086120961
693647888581312512
693644216740769793
693642232151285760
693629975228977152
693622659251335168
693590843962331137
693582294167244802
693486665285931008
693280720173801472
693267061318012928
693262851218264065
693231807727280129
693155686491000832
693109034023534592
693095443459342336
692919143163629568
692905862751522816
692901601640583168
692894228850999298
692828166163931137
692752401762250755
692568918515392513
692535307825213440
692530551048294401
692423280028966913
692417313023332352
692187005137076224
692158366030913536
692142790915014657
692041934689402880
692017291282812928
691820333922455552
691793053716221953
691756958957883396
691675652215414786
691483041324204033
691459709405118465
691444869282295808
691416866452082688
691321916024623104
691096613310316544
691090071332753408
690989312272396288
690959652130045952
690938899477221376
690932576555528194
690735892932222976
690728923253055490
690690673629138944
690649993829576704
690607260360429569
690597161306841088
690400367696297985
690374419777196032
690360449368465409
690348396616552449
690248561355657216
690021994562220032
690015576308211712
690005060500217858
689999384604450816
689993469801164801
689977555533848577
689905486972461056
689877686181715968
689835978131935233
689661964914655233
689659372465688576
689623661272240129
689599056876867584
689557536375177216
689517482558820352
689289219123089408
689283819090870273

689280876073582592
689275259254616065
689255633275777024
689154315265683456
689143371370250240
688916208532455424
688908934925697024
688898160958271489
688894073864884227
688828561667567616
688804835492233216
688789766343622656
688547210804498433
688519176466644993
688385280030670848
688211956440801280
688179443353796608
688116655151435777
688064179421470721
687841446767013888
687826841265172480
687818504314159109
687807801670897665
687732144991551489
687704180304273409
687664829264453632
687494652870668288
687480748861947905
687476254459715584
687460506001633280
687399393394311168
687317306314240000
687312378585812992
687127927494963200
687124485711986689
687109925361856513
687102708889812993
687096057537363968
686947101016735744
686760001961103360
686749460672679938

Rate limit reached. Sleeping for: 428

686730991906516992
686683045143953408
686618349602762752
686606069955735556
686394059078897668
686386521809772549
686377065986265092
686358356425093120
686286779679375361
686050296934563840
686035780142297088
686034024800862208
686007916130873345
686003207160610816
685973236358713344
685943807276412928
685906723014619143
685681090388975616
685667379192414208
685663452032069632
685641971164143616
685547936038666240
685532292383666176
685325112850124800
685321586178670592
685315239903100929
685307451701334016
685268753634967552
685198997565345792
685169283572338688
684969860808454144
684959798585110529
684940049151070208
684926975086034944
684914660081053696
684902183876321280
684880619965411328
684830982659280897
684800227459624960
684594889858887680
684588130326986752
684567543613382656
684538444857667585
684481074559381504
684460069371654144
684241637099323392
684225744407494656
684222868335505415
684200372118904832
684195085588783105
684188786104872960
684177701129875456
684147889187209216
684122891630342144
684097758874210310
683857920510050305
683852578183077888
683849932751646720
683834909291606017
683828599284170753
683773439333797890
683742671509258241
683515932363329536
683498322573824003
683481228088049664
683462770029932544
683449695444799489
683391852557561860
683357973142474752
683142553609318400
683111407806746624
683098815881154561
683078886620553216
683030066213818368
682962037429899265
682808988178739200
682788441537560576
682750546109968385
682697186228989953
682662431982772225
682638830361513985
682429480204398592
682406705142087680
682393905736888321
682389078323662849
682303737705140231
682259524040966145
682242692827447297
682088079302213632
682059653698686977
682047327939461121
682032003584274432
682003177596559360
681981167097122816
681891461017812993
681694085539872773
681679526984871937
681654059175129088
681610798867845120
681579835668455424
681523177663676416
681340665377193984
681339448655802368
681320187870711809
681302363064414209
681297372102656000
681281657291280384
681261549936340994
681242418453299201
681231109724700672
681193455364796417
680970795137544192
680959110691590145
680940246314430465
680934982542561280
680913438424612864
680889648562991104
680836378243002368
680805554198020098
680801747103793152
680798457301471234
680609293079592961
680583894916304897
680497766108381184
680494726643068929
680473011644985345
680440374763077632
680221482581123072
680206703334408192
680191257256136705
680176173301628928
680161097740095489
680145970311643136
680130881361686529
680115823365742593
680100725817409536
680085611152338944
680070545539371008
680055455951884288: No status found with that ID.
679877062409191424
679872969355714560
679862121895714818
679854723806179328
679844490799091713
679828447187857408
679777920601223168
679736210798047232
679729593985699840
679722016581222400
679530280114372609
679527802031484928
679511351870550016
679503373272485890
679475951516934144
679462823135686656
679405845277462528
679158373988876288
679148763231985668
679132435750195208
679111216690831360
679062614270468097
679047485189439488
679001094530465792
678991772295516161
678969228704284672
678800283649069056
678798276842360832
678774928607469569
678767140346941444
678764513869611008
678755239630127104
678740035362037760
678708137298427904
678675843183484930
678643457146150913
678446151570427904
678424312106393600
678410210315247616
678399652199309312
678396796259975168
678389028614488064
678380236862578688
678341075375947776
678334497360859136
678278586130948096
678255464182861824
678023323247357953
678021115718029313
677961670166224897
677918531514703872
677895101218201600
677716515794329600
677700003327029250
677698403548192770
677687604918272002
677673981332312066
677662372920729601
677644091929329666
677573743309385728
677565715327688705
677557565589463040
677547928504967168
677530072887205888
677335745548390400
677334615166730240
677331501395156992
677328882937298944
677314812125323265
677301033169788928
677269281705472000
677228873407442944
677187300187611136
676975532580409345
676957860086095872
676949632774234114
676948236477857792
676946864479084545
676942428000112642
676936541936185344
676916996760600576
676897532954456065
676864501615042560
676821958043033607
676819651066732545
676811746707918848
676776431406465024
676617503762681856
676613908052996102
676606785097199616
676603393314578432
676593408224403456
676590572941893632
676588346097852417
676582956622721024
676575501977128964
676533798876651520
676496375194980353
676470639084101634
676440007570247681
676430933382295552
676263575653122048
676237365392908289
676219687039057920
676215927814406144
676191832485810177
676146341966438401
676121918416756736
676101918813499392
676098748976615425
676089483918516224
675898130735476737
675891555769696257
675888385639251968
675878199931371520
675870721063669760
675853064436391936
675849018447167488
675845657354215424
675822767435051008
675820929667219457
675798442703122432
675781562965868544
675740360753160193
675710890956750848
675707330206547968
675706639471788032
675534494439489536
675531475945709568
675522403582218240
675517828909424640
675501075957489664
675497103322386432
675489971617296384
675483430902214656
675432746517426176
675372240448454658
675362609739206656
675354435921575936
675349384339542016
675334060156301312
675166823650848770
675153376133427200
675149409102012420
675147105808306176
675146535592706048
675145476954566656
675135153782571009
675113801096802304
675111688094527488
675109292475830276
675047298674663426
675015141583413248
675006312288268288
675003128568291329
674999807681908736
674805413498527744
674800520222154752
674793399141146624
674790488185167872
674788554665512960
674781762103414784
674774481756377088
674767892831932416
674764817387900928
674754018082705410
674752233200820224
674743008475090944
674742531037511680
674739953134403584
674737130913071104
674690135443775488
674670581682434048
674664755118911488
674646392044941312
674644256330530816
674638615994089473
674632714662858753
674606911342424069
674468880899788800
674447403907457024
674436901579923456
674422304705744896
674416750885273600
674410619106390016
674394782723014656
674372068062928900
674330906434379776
674318007229923329
674307341513269249
674291837063053312
674271431610523648
674269164442398721
674265582246694913
674262580978937856
674255168825880576
674082852460433408
674075285688614912
674063288070742018
674053186244734976
674051556661161984
674045139690631169
674042553264685056
674038233588723717
674036086168010753
674024893172875264
674019345211760640
674014384960745472
674008982932058114
673956914389192708
673919437611909120
673906403526995968
673887867907739649
673716320723169284
673715861853720576
673711475735838725
673709992831262724
673708611235921920
673707060090052608
673705679337693185
673700254269775872
673697980713705472
673689733134946305
673688752737402881
673686845050527744
673680198160809984
673662677122719744
673656262056419329
673636718965334016
673612854080196609
673583129559498752
673580926094458881
673576835670777856
673363615379013632
673359818736984064
673355879178194945
673352124999274496
673350198937153538
673345638550134785
673343217010679808
673342308415348736
673320132811366400
673317986296586240
673295268553605120
673270968295534593
673240798075449344
673213039743795200
673148804208660480
672997845381865473
672995267319328768
672988786805112832
672984142909456390
672980819271634944
672975131468300288
672970152493887488
672968025906282496
672964561327235073
672902681409806336
672898206762672129
672884426393653248
672877615439593473
672834301050937345
672828477930868736
672640509974827008
672622327801233409
672614745925664768
672609152938721280
672604026190569472
672594978741354496
672591762242805761
672591271085670400
672538107540070400
672523490734551040
672488522314567680
672482722825261057
672481316919734272
672475084225949696
672466075045466113
672272411274932228
672267570918129665
672264251789176834
672256522047614977
672254177670729728
672248013293752320
672245253877968896
672239279297454080
672231046314901505
672222792075620352
672205392827572224
672169685991993344
672160042234327040

672139350159835138
672125275208069120
672095186491711488
672082170312290304
672068090318987265
671896809300709376
671891728106971137
671882082306625538
671879137494245376
671874878652489728
671866342182637568
671855973984772097
671789708968640512
671768281401958400
671763349865160704
671744970634719232
671743150407421952
671735591348891648
671729906628341761
671561002136281088
671550332464455680
671547767500775424
671544874165002241
671542985629241344
671538301157904385
671536543010570240
671533943490011136
671528761649688577
671520732782923777
671518598289059840
671511350426865664
671504605491109889
671497587707535361
671488513339211776
671486386088865792
671485057807351808
671390180817915904
671362598324076544
671357843010908160
671355857343524864
671347597085433856
671186162933985280
671182547775299584
671166507850801152
671163268581498880
671159727754231808
671154572044468225
671151324042559489
671147085991960577
671141549288370177
671138694582165504
671134062904504320
671122204919246848
671115716440031232
671109016219725825
670995969505435648
670842764863651840
670840546554966016
670838202509447168
670833812859932673
670832455012716544
670826280409919488
670823764196741120
670822709593571328
670815497391357952
670811965569282048
670807719151067136
670804601705242624
670803562457407488
670797304698376195
670792680469889025
670789397210615808
670786190031921152
670783437142401025
670782429121134593
670780561024270336
670778058496974848
670764103623966721
670755717859713024
670733412878163972
670727704916926465
670717338665226240
670704688707301377
670691627984359425
670679630144274432
670676092097810432
670668383499735048
670474236058800128
670468609693655041
670465786746662913
670452855871037440
670449342516494336
670444955656130560
670442337873600512
670435821946826752
670434127938719744
670433248821026816
670428280563085312
670427002554466305
670421925039075328
670420569653809152
670417414769758208
670411370698022913
670408998013820928
670403879788544000
670385711116361728
670374371102445568
670361874861563904
670338931251150849
670319130621435904
670303360680108032
670290420111441920
670093938074779648
670086499208155136
670079681849372674
670073503555706880
670069087419133954
670061506722140161
670055038660800512
670046952931721218
670040295598354432
670037189829525505
670003130994700288
669993076832759809
669972011175813120
669970042633789440
669942763794931712
669926384437997569
669923323644657664
669753178989142016
669749430875258880
669684865554620416
669683899023405056
669682095984410625
669680153564442624
669661792646373376
669625907762618368
669603084620980224
669597912108789760
669583744538451968
669573570759163904
669571471778410496
669567591774625800
669564461267722241
669393256313184256
669375718304980992
669371483794317312
669367896104181761
669363888236994561
669359674819481600
669354382627049472
669353438988365824
669351434509529089
669328503091937280
669327207240699904
669324657376567296
669216679721873412
669214165781868544
669203728096960512
669037058363662336
669015743032369152
669006782128353280
669000397445533696
668994913074286592
668992363537309700
668989615043424256
668988183816871936
668986018524233728
668981893510119424
668979806671884288
668975677807423489
668967877119254528
668960084974809088
668955713004314625
668932921458302977
668902994700836864
668892474547511297
668872652652679168
668852170888998912
668826086256599040
668815180734689280
668779399630725120
668655139528511488
668645506898350081
668643542311546881
668641109086707712
668636665813057536
668633411083464705
668631377374486528
668627278264475648
668625577880875008
668623201287675904
668620235289837568
668614819948453888
668587383441514497
668567822092664832
668544745690562560
668542336805281792
668537837512433665
668528771708952576
668507509523615744
668496999348633600
668484198282485761
668480044826800133
668466899341221888
668297328638447616
668291999406125056
668286279830867968
668274247790391296
668268907921326080
668256321989451776
668248472370458624
668237644992782336
668226093875376128
668221241640230912
668204964695683073
668190681446379520
668171859951755264
668154635664932864
668142349051129856
668113020489474048
667937095915278337
667924896115245057
667915453470232577
667911425562669056
667902449697558528
667886921285246976
667885044254572545
667878741721415682
667873844930215936
667866724293877760
667861340749471744
667832474953625600
667806454573760512
667801013445750784
667793409583771648
667782464991965184
667773195014021121
667766675769573376
667728196545200128
667724302356258817
667550904950915073
667550882905632768
667549055577362432
667546741521195010
667544320556335104
667538891197542400
667534815156183040
667530908589760512
667524857454854144
667517642048163840
667509364010450944
667502640335572993
667495797102141441
667491009379606528
667470559035432960
667455448082227200
667453023279554560
667443425659232256
667437278097252352
667435689202614272
667405339315146752
667393430834667520
667369227918143488
667211855547486208
667200525029539841
667192066997374976
667188689915760640
667182792070062081
667177989038297088
667176164155375616
667174963120574464
667171260800061440
667165590075940865
667160273090932737
667152164079423490
667138269671505920
667119796878725120
667090893657276420
667073648344346624
667070482143944705
667065535570550784
667062181243039745
667044094246576128
667012601033924608
666996132027977728
666983947667116034
666837028449972224
666835007768551424
666826780179869698
666817836334096384
666804364988780544
666786068205871104
666781792255496192
666776908487630848
666739327293083650
666701168228331520
666691418707132416
666649482315059201
666644823164719104
666454714377183233
666447344410484738
666437273139982337
666435652385423360
666430724426358785
666428276349472768
666421158376562688
666418789513326592
666411507551481857
666407126856765440
666396247373291520
666373753744588802
666362758909284353
666353288456101888
666345417576210432
666337882303524864
666293911632134144
666287406224695296
666273097616637952
666268910803644416
666104133288665088
666102155909144576
666099513787052032
666094000022159362
666082916733198337
666073100786774016
666071193221509120
666063827256086533
666058600524156928
666057090499244032
666055525042405380
666051853826850816
666050758794694657
666049248165822465
666044226329800704
666033412701032449
666029285002620928
666020888022790149
Time elapsed (hh:mm:ss:ms): 0:34:53.234303
Valid tweets: 2334
Invalid tweets: 22

In [7]:
#read tweet_json data into a list of tweet JSONs
all_tweets = []

for line in open('tweet_json.txt', 'r', encoding = 'utf-8'):
    json_data = json.loads(json.loads(line))
    all_tweets.append(json_data)

In [8]:
#pick interesting fields to add to DataFrame
all_tweets[0]

{'created_at': 'Tue Aug 01 16:23:56 +0000 2017',
 'id': 892420643555336193,
 'id_str': '892420643555336193',
 'text': "This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU",
 'truncated': False,
 'entities': {'hashtags': [],
  'symbols': [],
  'user_mentions': [],
  'urls': [],
  'media': [{'id': 892420639486877696,
    'id_str': '892420639486877696',
    'indices': [86, 109],
    'media_url': 'http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
    'url': 'https://t.co/MgUWQ76dJU',
    'display_url': 'pic.twitter.com/MgUWQ76dJU',
    'expanded_url': 'https://twitter.com/dog_rates/status/892420643555336193/photo/1',
    'type': 'photo',
    'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
     'medium': {'w': 540, 'h': 528, 'resize': 'fit'},
     'small': {'w': 540, 'h': 528, 'resize': 'fit'},
     'large': {'w': 540, 'h': 528, 'resize': 'fit'}}}]},
 'extended_entities': {'media': [{'id': 892420639486877696,
    'id_str': '892420639486877696',
    'indices': [86, 109],
    'media_url': 'http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg',
    'url': 'https://t.co/MgUWQ76dJU',
    'display_url': 'pic.twitter.com/MgUWQ76dJU',
    'expanded_url': 'https://twitter.com/dog_rates/status/892420643555336193/photo/1',
    'type': 'photo',
    'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
     'medium': {'w': 540, 'h': 528, 'resize': 'fit'},
     'small': {'w': 540, 'h': 528, 'resize': 'fit'},
     'large': {'w': 540, 'h': 528, 'resize': 'fit'}}}]},
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 4196983835,
  'id_str': '4196983835',
  'name': 'WeRateDogs™ 🏳️\u200d🌈',
  'screen_name': 'dog_rates',
  'location': '「 DM YOUR DOGS 」',
  'description': 'Your Only Source For Professional Dog Ratings Instagram and Facebook ➪ WeRateDogs partnerships@weratedogs.com ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀',
  'url': 'https://t.co/N7sNNHSfPq',
  'entities': {'url': {'urls': [{'url': 'https://t.co/N7sNNHSfPq',
      'expanded_url': 'http://weratedogs.com',
      'display_url': 'weratedogs.com',
      'indices': [0, 23]}]},
   'description': {'urls': []}},
  'protected': False,
  'followers_count': 8164701,
  'friends_count': 12,
  'listed_count': 6272,
  'created_at': 'Sun Nov 15 21:41:29 +0000 2015',
  'favourites_count': 142918,
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'verified': True,
  'statuses_count': 10421,
  'lang': None,
  'contributors_enabled': False,
  'is_translator': False,
  'is_translation_enabled': False,
  'profile_background_color': '000000',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1112594177961844736/qQK8NJT-_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1112594177961844736/qQK8NJT-_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1560181807',
  'profile_link_color': 'F5ABB5',
  'profile_sidebar_border_color': '000000',
  'profile_sidebar_fill_color': '000000',
  'profile_text_color': '000000',
  'profile_use_background_image': False,
  'has_extended_profile': False,
  'default_profile': False,
  'default_profile_image': False,
  'following': False,
  'follow_request_sent': False,
  'notifications': False,
  'translator_type': 'none'},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'is_quote_status': False,
 'retweet_count': 8130,
 'favorite_count': 37424,
 'favorited': False,
 'retweeted': False,
 'possibly_sensitive': False,
 'possibly_sensitive_appealable': False,
 'lang': 'en'}

In [9]:
#create dictionary to use in pandas DataFrame
tweets_json = []
for tweet in all_tweets:
    tweets_json.append({'tweet_id': tweet['id'],
                     'created_at': tweet['created_at'],
                      'favorite_count': tweet['favorite_count'],
                      'retweet_count': tweet['retweet_count']
                     })

In [10]:
tweets_json[0]

{'tweet_id': 892420643555336193,
 'created_at': 'Tue Aug 01 16:23:56 +0000 2017',
 'favorite_count': 37424,
 'retweet_count': 8130}

In [11]:
#create Pandas DataFrame
tweet_fields = pd.DataFrame(tweets_json, columns = ['tweet_id', 'created_at', 'favorite_count', 'retweet_count'])

In addition to `tweet_id`, `created_at`, and `retweet_count`, I also decided to add the additional fields `created_at` and `followers_count` for the user. This is because I want to examine how the other variables such as `favorite_count` and `retweet_count` could impact the fluctuation of followers, and also see which time of the day under `created_at` gives the biggest spike in followers.

# Assess

In [12]:
twitter_archive.sample(10)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2172,669327207240699904,NaN,NaN,2015-11-25 01:30:16 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Just got home from college. Dis my dog. She do...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669327207...,13,10,None,None,None,None,None
706,785533386513321988,NaN,NaN,2016-10-10 17:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Dallas. Her tongue is ridiculous. 11/1...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/785533386...,11,10,Dallas,None,None,None,None
853,765371061932261376,NaN,NaN,2016-08-16 02:14:15 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Louie. He's had a long day. Did a lot ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/765371061...,11,10,Louie,None,None,pupper,None
130,867072653475098625,NaN,NaN,2017-05-23 17:40:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @rachaeleasler: these @dog_rates hats are 1...,8.650134e+17,7.874618e+17,2017-05-18 01:17:25 +0000,https://twitter.com/rachaeleasler/status/86501...,13,10,None,None,None,None,None
1527,690360449368465409,NaN,NaN,2016-01-22 02:28:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Stop sending in lobsters. This is the final wa...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/690360449...,9,10,the,None,None,None,None
961,751132876104687617,NaN,NaN,2016-07-07 19:16:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cooper. He's just so damn happy. 10/10...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/751132876...,10,10,Cooper,None,None,None,puppo
280,839549326359670784,NaN,NaN,2017-03-08 18:52:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Winston. He knows he's a little too big f...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/839549326...,12,10,Winston,None,None,None,None
1047,743510151680958465,NaN,NaN,2016-06-16 18:26:48 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...","This is Beya. She doesn't want to swim, so she...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/743510151...,13,10,Beya,None,None,None,None
312,835264098648616962,NaN,NaN,2017-02-24 23:04:14 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Lola. Her hobbies include being precious ...,NaN,NaN,NaN,https://www.gofundme.com/lolas-life-saving-sur...,12,10,Lola,None,None,None,None
1679,682032003584274432,NaN,NaN,2015-12-30 02:54:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ulysses. He likes holding hands and hi...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/682032003...,11,10,Ulysses,None,None,None,None

In [13]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [14]:
#look at denominators that are not equal to 10
twitter_archive.query('rating_denominator != 10').head(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
313,835246439529840640,8.352460e+17,26259576.0,2017-02-24 21:54:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@jonnysun @Lin_Manuel ok jomny I know you're e...,NaN,NaN,NaN,NaN,960,0,None,None,None,None,None
342,832088576586297345,8.320875e+17,30582082.0,2017-02-16 04:45:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@docmisterio account started on 11/15/15,NaN,NaN,NaN,NaN,11,15,None,None,None,None,None
433,820690176645140481,NaN,NaN,2017-01-15 17:52:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The floofs have been released I repeat the flo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/820690176...,84,70,None,None,None,None,None
516,810984652412424192,NaN,NaN,2016-12-19 23:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Sam. She smiles 24/7 &amp; secretly aspir...,NaN,NaN,NaN,"https://www.gofundme.com/sams-smile,https://tw...",24,7,Sam,None,None,None,None
784,775096608509886464,NaN,NaN,2016-09-11 22:20:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...","RT @dog_rates: After so many requests, this is...",7.403732e+17,4.196984e+09,2016-06-08 02:41:38 +0000,https://twitter.com/dog_rates/status/740373189...,9,11,None,None,None,None,None

In [18]:
#check counts of denominators != 10
twitter_archive.rating_denominator.value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [28]:
#check corresponding text with denominators != 10
denoms = twitter_archive[twitter_archive['rating_denominator'] != 10][['tweet_id', 'text', 'rating_numerator', 'rating_denominator']]
pd.set_option('display.max_colwidth', -1)
denoms

,tweet_id,text,rating_numerator,rating_denominator
313,835246439529840640,"@jonnysun @Lin_Manuel ok jomny I know you're excited but 960/00 isn't a valid rating, 13/10 is tho",960,0
342,832088576586297345,@docmisterio account started on 11/15/15,11,15
433,820690176645140481,The floofs have been released I repeat the floofs have been released. 84/70 https://t.co/NIYC820tmd,84,70
516,810984652412424192,Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \nKeep Sam smiling by clicking and sharing this link:\nhttps://t.co/98tB8y7y7t https://t.co/LouL5vdvxx,24,7
784,775096608509886464,"RT @dog_rates: After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https:/…",9,11
902,758467244762497024,Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE,165,150
1068,740373189193256964,"After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https://t.co/XAVDNDaVgQ",9,11
1120,731156023742988288,Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv,204,170
1165,722974582966214656,Happy 4/20 from the squad! 13/10 for all https://t.co/eV1diwds8a,4,20
1202,716439118184652801,This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10 https://t.co/Kky1DPG4iq,50,50
1228,713900603437621249,Happy Saturday here's 9 puppers on a bench. 99/90 good work everybody https://t.co/mpvaVxKmc1,99,90
1254,710658690886586372,Here's a brigade of puppers. All look very prepared for whatever happens next. 80/80 https://t.co/0eb7R1Om12,80,80
1274,709198395643068416,"From left to right:\nCletus, Jerome, Alejandro, Burp, &amp; Titson\nNone know where camera is. 45/50 would hug all at once https://t.co/sedre1ivTK",45,50
1351,704054845121142784,Here is a whole flock of puppers. 60/50 I'll take the lot https://t.co/9dpcw6MdWa,60,50
1433,697463031882764288,Happy Wednesday here's a bucket of pups. 44/40 would pet all at once https://t.co/HppvrYuamZ,44,40
1598,686035780142297088,"Yes I do realize a rating of 4/20 would've been fitting. However, it would be unjust to give these cooperative pups that low of a rating",4,20
1634,684225744407494656,"Two sneaky puppers were not initially seen, moving the rating to 143/130. Please forgive us. Thank you https://t.co/kRK51Y5ac3",143,130
1635,684222868335505415,Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110 https://t.co/1zfnTJLt55,121,110
1662,682962037429899265,This is Darrel. He just robbed a 7/11 and is in a high speed police chase. Was just spotted by the helicopter 10/10 https://t.co/7EsP8LmSp5,7,11
1663,682808988178739200,"I'm aware that I could've said 20/16, but here at WeRateDogs we are very professional. An inconsistent rating scale is simply irresponsible",20,16
1779,677716515794329600,IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq,144,120
1843,675853064436391936,Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once https://t.co/y93p6FLvVw,88,80
2335,666287406224695296,This is an Albanian 3 1/2 legged Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv,1,2

In [73]:
#check non-int numerators
twitter_archive.query('rating_numerator == 75 or rating_numerator == 26')[['tweet_id', 'text', 'rating_numerator']]

,tweet_id,text,rating_numerator
340,832215909146226688,"RT @dog_rates: This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10 https://t.co/yBO5wu…",75
695,786709082849828864,"This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10 https://t.co/yBO5wuqaPS",75
1712,680494726643068929,Here we have uncovered an entire battalion of holiday puppers. Average of 11.26/10 https://t.co/eNm2S6p9BD,26

In [30]:
#look at nonsensical dog names
mask = twitter_archive.name.str.islower()
bad_names = twitter_archive.loc[mask]['name'].sample(50)
bad_names.sample(50)

118     quite
2198    a
2346    the
2347    a
2314    a
2116    a
1206    old
2326    quite
2287    a
1955    a
369     one
2354    a
2034    a
2066    a
1877    a
1382    a
2218    a
1002    a
1193    a
56      a
1361    a
1071    getting
2255    a
1878    a
988     not
822     just
1017    a
1040    actually
2222    a
1853    a
2264    a
2146    a
1499    a
22      such
2345    the
2273    a
542     incredibly
1916    life
1923    a
1457    just
335     not
1724    by
682     mad
2335    an
1785    a
2204    an
1120    this
1049    a
759     an
1435    getting
Name: name, dtype: object

In [562]:
#check for number of dogs that fall under more than 1 dog stage
def mask_duplicate_stages(df):
    stage_mask = []
    for i, row in df.iterrows():
        sum = 0
        if (row['doggo'] != 'None'):
            sum += 1
        if (row['floofer'] != 'None'):
            sum += 1
        if (row['pupper'] != 'None'):
            sum += 1
        if (row['puppo'] != 'None'):
            sum += 1

        if sum > 1:
            stage_mask.append(True)
        else:
            stage_mask.append(False)
    
    return stage_mask

In [560]:
def mask_single_stages(df):
    stage_mask = []
    for i, row in df.iterrows():
        sum = 0
        if (row['doggo'] != 'None'):
            sum += 1
        if (row['floofer'] != 'None'):
            sum += 1
        if (row['pupper'] != 'None'):
            sum += 1
        if (row['puppo'] != 'None'):
            sum += 1

        if sum == 1:
            stage_mask.append(True)
        else:
            stage_mask.append(False)
    
    return stage_mask

In [561]:
def mask_all_stages(df):
    stage_mask = []
    for i, row in df.iterrows():
        sum = 0
        if (row['doggo'] != 'None'):
            sum += 1
        if (row['floofer'] != 'None'):
            sum += 1
        if (row['pupper'] != 'None'):
            sum += 1
        if (row['puppo'] != 'None'):
            sum += 1

        if sum > 0:
            stage_mask.append(True)
        else:
            stage_mask.append(False)
    
    return stage_mask

In [566]:
#create masks
dup_stage_mask = mask_duplicate_stages(twitter_archive)    
single_stage_mask = mask_single_stages(twitter_archive)
all_stage_mask = mask_all_stages(twitter_archive)

In [567]:
#number of dogs with more than 1 stage
twitter_archive[dup_stage_mask].shape[0]

14

In [568]:
#number of dogs with only 1 stage
twitter_archive[single_stage_mask].shape[0]

366

In [569]:
#number of dogs with >= 1 stage
twitter_archive[all_stage_mask].shape[0]

380

In [487]:
#check for text associated with each dog showing repeated stage
twitter_archive[dup_stage_mask][['tweet_id', 'text', 'doggo', 'floofer', 'pupper', 'puppo']]

,tweet_id,text,doggo,floofer,pupper,puppo
191,855851453814013952,Here's a puppo participating in the #ScienceMarch. Cleverly disguising her own doggo agenda. 13/10 would keep the planet habitable for https://t.co/cMhq16isel,doggo,None,None,puppo
200,854010172552949760,"At first I thought this was a shy doggo, but it's actually a Rare Canadian Floofer Owl. Amateurs would confuse the two. 11/10 only send dogs https://t.co/TXdT3tmuYk",doggo,floofer,None,None
460,817777686764523521,"This is Dido. She's playing the lead role in ""Pupper Stops to Catch Snow Before Resuming Shadow Box with Dried Apple."" 13/10 (IG: didodoggo) https://t.co/m7isZrOBX7",doggo,None,pupper,None
531,808106460588765185,Here we have Burke (pupper) and Dexter (doggo). Pupper wants to be exactly like doggo. Both 12/10 would pet at same time https://t.co/ANBpEYHaho,doggo,None,pupper,None
565,802265048156610565,"Like doggo, like pupper version 2. Both 11/10 https://t.co/9IxWAXFqze",doggo,None,pupper,None
575,801115127852503040,This is Bones. He's being haunted by another doggo of roughly the same size. 12/10 deep breaths pupper everything's fine https://t.co/55Dqe0SJNj,doggo,None,pupper,None
705,785639753186217984,This is Pinot. He's a sophisticated doggo. You can tell by the hat. Also pointier than your average pupper. Still 10/10 would pet cautiously https://t.co/f2wmLZTPHd,doggo,None,pupper,None
733,781308096455073793,"Pupper butt 1, Doggo 0. Both 12/10 https://t.co/WQvcPEpH2u",doggo,None,pupper,None
778,775898661951791106,"RT @dog_rates: Like father (doggo), like son (pupper). Both 12/10 https://t.co/pG2inLaOda",doggo,None,pupper,None
822,770093767776997377,RT @dog_rates: This is just downright precious af. 12/10 for both pupper and doggo https://t.co/o5J479bZUC,doggo,None,pupper,None
889,759793422261743616,"Meet Maggie &amp; Lila. Maggie is the doggo, Lila is the pupper. They are sisters. Both 12/10 would pet at the same time https://t.co/MYwR4DQKll",doggo,None,pupper,None
956,751583847268179968,Please stop sending it pictures that don't even have a doggo or pupper in them. Churlish af. 5/10 neat couch tho https://t.co/u2c9c7qSg8,doggo,None,pupper,None
1063,741067306818797568,This is just downright precious af. 12/10 for both pupper and doggo https://t.co/o5J479bZUC,doggo,None,pupper,None
1113,733109485275860992,"Like father (doggo), like son (pupper). Both 12/10 https://t.co/pG2inLaOda",doggo,None,pupper,None

In [134]:
#check for retweets and duplicates
twitter_archive[~(twitter_archive.retweeted_status_id.isnull())]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is Canela. She attempted some fancy porch pics. They were unsuccessful. 13/10 someone help her https://t.co/cLyzpcUcMX,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,"https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/status/887473957103951883/photo/1",13,10,Canela,None,None,None,None
32,886054160059072513,NaN,NaN,2017-07-15 02:45:48 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @Athletics: 12/10 #BATP https://t.co/WxwJmvjfxo,8.860537e+17,1.960740e+07,2017-07-15 02:44:07 +0000,"https://twitter.com/dog_rates/status/886053434075471873,https://twitter.com/dog_rates/status/886053434075471873",12,10,None,None,None,None,None
36,885311592912609280,NaN,NaN,2017-07-13 01:35:06 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is Lilly. She just parallel barked. Kindly requests a reward now. 13/10 would pet so well https://t.co/SATN4If5H5,8.305833e+17,4.196984e+09,2017-02-12 01:04:29 +0000,"https://twitter.com/dog_rates/status/830583320585068544/photo/1,https://twitter.com/dog_rates/status/830583320585068544/photo/1,https://twitter.com/dog_rates/status/830583320585068544/photo/1,https://twitter.com/dog_rates/status/830583320585068544/photo/1",13,10,Lilly,None,None,None,None
68,879130579576475649,NaN,NaN,2017-06-26 00:13:58 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is Emmy. She was adopted today. Massive round of pupplause for Emmy and her new family. 14/10 for all involved https://…,8.780576e+17,4.196984e+09,2017-06-23 01:10:23 +0000,"https://twitter.com/dog_rates/status/878057613040115712/photo/1,https://twitter.com/dog_rates/status/878057613040115712/photo/1",14,10,Emmy,None,None,None,None
73,878404777348136964,NaN,NaN,2017-06-24 00:09:53 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","RT @dog_rates: Meet Shadow. In an attempt to reach maximum zooming borkdrive, he tore his ACL. Still 13/10 tho. Help him out below\n\nhttps:/…",8.782815e+17,4.196984e+09,2017-06-23 16:00:04 +0000,"https://www.gofundme.com/3yd6y1c,https://twitter.com/dog_rates/status/878281511006478336/photo/1",13,10,Shadow,None,None,None,None
74,878316110768087041,NaN,NaN,2017-06-23 18:17:33 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: Meet Terrance. He's being yelled at because he stapled the wrong stuff together. 11/10 hang in there Terrance https://t.co/i…,6.690004e+17,4.196984e+09,2015-11-24 03:51:38 +0000,https://twitter.com/dog_rates/status/669000397445533696/photo/1,11,10,Terrance,None,None,None,None
78,877611172832227328,NaN,NaN,2017-06-21 19:36:23 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @rachel2195: @dog_rates the boyfriend and his soaking wet pupper h*cking love his new hat 14/10 https://t.co/dJx4Gzc50G,8.768508e+17,5.128045e+08,2017-06-19 17:14:49 +0000,"https://twitter.com/rachel2195/status/876850772322988033/photo/1,https://twitter.com/rachel2195/status/876850772322988033/photo/1,https://twitter.com/rachel2195/status/876850772322988033/photo/1,https://twitter.com/rachel2195/status/876850772322988033/photo/1",14,10,None,None,None,pupper,None
91,874434818259525634,NaN,NaN,2017-06-13 01:14:41 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is Coco. At first I thought she was a cloud but clouds don't bork with such passion. 12/10 would hug softly https://t.c…,8.663350e+17,4.196984e+09,2017-05-21 16:48:45 +0000,"https://twitter.com/dog_rates/status/866334964761202691/photo/1,https://twitter.com/dog_rates/status/866334964761202691/photo/1",12,10,Coco,None,None,None,None
95,873697596434513921,NaN,NaN,2017-06-11 00:25:14 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is Walter. He won't start hydrotherapy without his favorite floatie. 14/10 keep it pup Walter https://t.co/r28jFx9uyF,8.688804e+17,4.196984e+09,2017-05-28 17:23:24 +0000,"https://twitter.com/dog_rates/status/868880397819494401/photo/1,https://twitter.com/dog_rates/status/868880397819494401/photo/1",14,10,Walter,None,None,None,None
97,873337748698140672,NaN,NaN,2017-06-10 00:35:19 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is Sierra. She's one precious pupper. Absolute 12/10. Been in and out of ICU her whole life. Help Sierra below\n\nhttps:/…,8.732138e+17,4.196984e+09,2017-06-09 16:22:42 +0000,"https://www.gofundme.com/help-my-baby-sierra-get-better,https://twitter.com/dog_rates/status/873213775632977920/photo/1,https://twitter.com/dog_rates/status/873213775632977920/photo/1",12,10,Sierra,None,None,pupper,None
101,872668790621863937,NaN,NaN,2017-06-08 04:17:07 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","RT @loganamnosis: Penelope here is doing me quite a divertir. Well done, @dog_rates! Loving the pupdate. 14/10, je jouerais de nouveau. htt…",8.726576e+17,1.547674e+08,2017-06-08 03:32:35 +0000,https://twitter.com/loganamnosis/status/872657584259551233/photo/1,14,10,None,None,None,None,None
109,871166179821445120,NaN,NaN,2017-06-04 00:46:17 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is Dawn. She's just checking pup on you. Making sure you're doing okay. 12/10 she's here if you need her https://t.co/X…,8.410770e+17,4.196984e+09,2017-03-13 00:02:39 +0000,https://twitter.com/dog_rates/status/841077006473256960/photo/1,12,10,Dawn,None,None,None,None
118,869988702071779329,NaN,NaN,2017-05-31 18:47:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: We only rate dogs. This is quite clearly a smol broken polar bear. We'd appreciate if you only send dogs. Thank you... 12/10…,8.591970e+17,4.196984e+09,2017-05-02 00:04:57 +0000,https://twitter.com/dog_rates/status/859196978902773760/video/1,12,10,quite,None,None,None,None
124,868639477480148993,NaN,NaN,2017-05-28 01:26:04 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: Say hello to Cooper. His expression is the same wet or dry. Absolute 12/10 but Coop desperately requests your help\n\nhttps://…,8.685523e+17,4.196984e+09,2017-05-27 19:39:34 +0000,"https://www.gofundme.com/3ti3nps,https://twitter.com/dog_rates/status/868552278524837888/photo/1,https://twitter.com/dog_rates/status/868552278524837888/photo/1",12,10,Cooper,None,None,None,None
130,867072653475098625,NaN,NaN,2017-05-23 17:40:04 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @rachaeleasler: these @dog_rates hats are 13/10 bean approved https://t.co/nRCdq4g9gG,8.650134e+17,7.874618e+17,2017-05-18 01:17:25 +0000,"https://twitter.com/rachaeleasler/status/865013420445368320/photo/1,https://twitter.com/rachaeleasler/status/865013420445368320/photo/1,https://twitter.com/rachaeleasler/status/865013420445368320/photo/1,https://twitter.com/rachaeleasler/status/865013420445368320/photo/1",13,10,None,None,None,None,None
132,866816280283807744,NaN,NaN,2017-05-23 00:41:20 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","RT @dog_rates: This is Jamesy. He gives a kiss to every other pupper he sees on his walk. 13/10 such passion, much tender https://t.co/wk7T…",8.664507e+17,4.196984e+09,2017-05-22 00:28:40 +0000,"https://twitter.com/dog_rates/status/866450705531457537/photo/1,https://twitter.com/dog_rates/status/866450705531457537/photo/1",13,10,Jamesy,None,None,pupper,None
137,866094527597207552,NaN,NaN,2017-05-21 00:53:21 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","RT @dog_rates: Here's a pupper before and after being asked ""who's a good girl?"" Unsure as h*ck. 12/10 hint hint it's you https://t.co/ORiK…",8.378202e+17,4.196984e+09,2017-03-04 00:21:08 +0000,"https://twitter.com/dog_rates/status/837820167694528512/photo/1,https://twitter.com/dog_rates/status/837820167694528512/photo/1",12,10,None,None,None,pupper,None
146,863471782782697472,NaN,NaN,2017-05-13 19:11:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: Say hello to Quinn. She's quite the goofball. Not even a year old. Confirmed 13/10 but she really needs your help \n\nhttps://…,8.630625e+17,4.196984e+09,2017-05-12 16:05:02 +0000,"https://www.gofundme.com/helpquinny,https://twitter.com/dog_rates/status/863062471531167744/photo/1,https://twitter.com/dog_rates/status/863062471531167744/photo/1,https://twitter.com/dog_rates/status/863062471531167744/photo/1,https://twitter.com/dog_rates/status/863062471531167744/photo/1",13,10,Quinn,None,None,None,None
155,861769973181624320,NaN,NaN,2017-05-09 02:29:07 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","RT @dog_rates: ""Good afternoon class today we're going to learn what makes a good boy so good"" 13/10 https://t.co/f1h2Fsalv9",8.066291e+17,4.196984e+09,2016-12-07 22:38:52 +0000,"https://twitter.com/dog_rates/status/806629075125202948/photo/1,https://twitter.com/dog_rates/status/806629075125202948/photo/1,https://twitter.com/dog_rates/status/806629075125202948/photo/1,https://twitter.com/dog_rates/status/806629075125202948/photo/1",13,10,None,None,None,None,None
159,860981674716409858,NaN,NaN,2017-05-06 22:16:42 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","RT @dog_rates: Meet Lorenzo. He's an avid nifty hat wearer and absolute 13/10, but he needs your help to beat cancer. Link below\n\nhttps://t…",8.605638e+17,4.196984e+09,2017-05-05 18:36:06 +0000,"https://www.gofundme.com/help-lorenzo-beat-cancer,https://twitter.com/dog_rates/status/860563773140209665/photo/1,https://twitter.com/dog_rates/status/860563773140209665/photo/1",13,10,Lorenzo,None,None,None,None
160,860924035999428608,NaN,NaN,2017-05-06 18:27:40 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @tallylott: h*ckin adorable promposal. 13/10 @dog_rates https://t.co/6n8hzNihJ9,8.609145e+17,3.638908e+08,2017-05-06 17:49:42 +0000,"https://twitter.com/tallylott/status/860914485250469888/photo/1,https://twitter.com/tallylott/status/860914485250469888/photo/1,https://twitter.com/tallylott/status/860914485250469888/photo/1,https://twitter.com/tallylott/status/860914485250469888/photo/1",13,10,None,None,None,None,None
165,860177593139703809,NaN,NaN,2017-05-04 17:01:34 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: Ohboyohboyohboyohboyohboyohboyohboyohboyohboyohboyohboyohboyohboyohboyohboy. 10/10 for all (by happytailsresort) https://t.c…,7.616730e+17,4.196984e+09,2016-08-05 21:19:27 +0000,https://twitter.com/dog_rates/status/761672994376806400/video/1,10,10,None,None,None,None,None
171,858860390427611136,NaN,NaN,2017-05-01 01:47:28 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","RT @dog_rates: Meet Winston. He knows he's a little too big for the swing, but he doesn't care. Kindly requests a push. 12/10 would happily…",8.395493e+17,4.196984e+09,2017-03-08 18:52:12 +0000,https://twitter.com/dog_rates/status/839549326359670784/photo/1,12,10,Winston,None,None,None,None
180,857062103051644929,NaN,NaN,2017-04-26 02:41:43 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @AaronChewning: First time wearing my @dog_rates hat on a flight and I get DOUBLE OPEN ROWS. Really makes you think. 13/10 https://t.co/…,8.570611e+17,5.870972e+07,2017-04-26 02:37:47 +0000,https://twitter.com/AaronChewning/status/857061112319234050/photo/1,13,10,None,None,None,None,None
182,856602993587888130,NaN,NaN,2017-04-24 20:17:23 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is Luna. It's her first time outside and a bee stung her nose. Completely h*ckin uncalled for. 13/10 where's the bee I…,8.447048e+17,4.196984e+09,2017-03-23 00:18:10 +0000,https://twitter.com/dog_rates/status/844704788403113984/photo/1,13,10,Luna,None,None,None,None
185,856330835276025856,NaN,NaN,2017-04-24 02:15:55 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @Jenna_Marbles: @dog_rates Thanks for rating my cermets 14/10 wow I'm so proud I watered them so much,8.563302e+17,6.669901e+07,2017-04-24 02:13:14 +0000,NaN,14,10,None,None,None,None,None
194,855245323840757760,NaN,NaN,2017-04-21 02:22:29 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: Meet George. He looks slightly deflated but overall quite powerful. Not sure how that human restrained him. 12/10 would snug…,8.421635e+17,4.196984e+09,2017-03-16 00:00:07 +0000,"https://twitter.com/dog_rates/status/842163532590374912/photo/1,https://twitter.com/dog_rates/status/842163532590374912/photo/1",12,10,George,None,None,None,None
195,855138241867124737,NaN,NaN,2017-04-20 19:16:59 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @frasercampbell_: oh my... what's that... beautiful scarf around your neck... 14/10 a h*ckin good dog in a h*ckin good game @GoodDogsGam…,8.551225e+17,7.475543e+17,2017-04-20 18:14:33 +0000,https://twitter.com/frasercampbell_/status/855122533267460096/photo/1,14,10,None,None,None,None,None
204,852936405516943360,NaN,NaN,2017-04-14 17:27:40 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","RT @dog_rates: I usually only share these on Friday's, but this is Blue. He's a very smoochable pooch who needs your help. 13/10\n\nhttps://t…",8.316501e+17,4.196984e+09,2017-02-14 23:43:18 +0000,"http://www.gofundme.com/bluethewhitehusky,https://twitter.com/dog_rates/status/831650051525054464/photo/1,https://twitter.com/dog_rates/status/831650051525054464/photo/1,https://twitter.com/dog_rates/status/831650051525054464/photo/1,https://twitter.com/dog_rates/status/831650051525054464/photo/1",13,10,None,None,None,None,None
211,851953902622658560,NaN,NaN,2017-04-12 00:23:33 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is Astrid. She's a guide doggo in training. 13/10 would follow anywhere https://t.co/xo7FZFIAao,8.293743e+17,4.196984e+09,2017-02-08 17:00:26 +0000,"https://twitter.com/dog_rates/status/829374341691346946/photo/1,https://twitter.com/dog_rates/status/829374341691346946/photo/1,https://twitter.com/dog_rates/status/829374341691346946/photo/1,https://twitter.com/dog_rates/status/829374341691346946/photo/1",13,10,Astrid,doggo,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
784,775096608509886464,NaN,NaN,2016-09-11 22:20:06 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","RT @dog_rates: After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https:/…",7.403732e+17,4.196984e+09,2016-06-08 02:41:38 +0000,"https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1",9,11,None,None,None,None,None
794,773336787167145985,NaN,NaN,2016-09-07 01:47:12 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: Meet Fizz. She thinks love is a social construct consisting solely of ideals perpetuated by mass media 11/10 woke af https:/…,7.713808e+17,4.196984e+09,2016-09-01 16:14:48 +0000,"https://twitter.com/dog_rates/status/771380798096281600/photo/1,https://twitter.com/dog_rates/status/771380798096281600/photo/1,https://twitter.com/dog_rates/status/771380798096281600/photo/1,https://twitter.com/dog_rates/status/771380798096281600/photo/1",11,10,Fizz,None,None,None,None
800,772615324260794368,NaN,NaN,2016-09-05 02:00:22 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is Gromit. He's pupset because there's no need to beware of him. Just wants a pettin. 10/10 https://t.co/eSvz4EapHH,7.652221e+17,4.196984e+09,2016-08-15 16:22:20 +0000,"https://twitter.com/dog_rates/status/765222098633691136/photo/1,https://twitter.com/dog_rates/status/765222098633691136/photo/1",10,10,Gromit,None,None,None,None
811,771171053431250945,NaN,NaN,2016-09-01 02:21:21 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is Frankie. He's wearing blush. 11/10 really accents the cheek bones https://t.co/iJABMhVidf,6.733201e+17,4.196984e+09,2015-12-06 01:56:44 +0000,"https://twitter.com/dog_rates/status/673320132811366400/photo/1,https://twitter.com/dog_rates/status/673320132811366400/photo/1,https://twitter.com/dog_rates/status/673320132811366400/photo/1,https://twitter.com/dog_rates/status/673320132811366400/photo/1,https://twitter.com/dog_rates/status/673320132811366400/photo/1,https://twitter.com/dog_rates/status/673320132811366400/photo/1,https://twitter.com/dog_rates/status/673320132811366400/photo/1,https://twitter.com/dog_rates/status/673320132811366400/photo/1",11,10,Frankie,None,None,None,None
815,771004394259247104,NaN,NaN,2016-08-31 15:19:06 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @katieornah: @dog_rates learning a lot at college 12/10 for my professor thank u for the pupper slides https://t.co/nTFDr99hg0,7.710021e+17,1.732729e+09,2016-08-31 15:10:07 +0000,"https://twitter.com/katieornah/status/771002130450743296/photo/1,https://twitter.com/katieornah/status/771002130450743296/photo/1",12,10,None,None,None,pupper,None
818,770743923962707968,NaN,NaN,2016-08-30 22:04:05 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: Here's a doggo blowing bubbles. It's downright legendary. 13/10 would watch on repeat forever (vid by Kent Duryee) https://t…,7.392382e+17,4.196984e+09,2016-06-04 23:31:25 +0000,https://twitter.com/dog_rates/status/739238157791694849/video/1,13,10,None,doggo,None,None,None
822,770093767776997377,NaN,NaN,2016-08-29 03:00:36 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is just downright precious af. 12/10 for both pupper and doggo https://t.co/o5J479bZUC,7.410673e+17,4.196984e+09,2016-06-10 00:39:48 +0000,"https://twitter.com/dog_rates/status/741067306818797568/photo/1,https://twitter.com/dog_rates/status/741067306818797568/photo/1",12,10,just,doggo,None,pupper,None

In [32]:
#check 1 instance to verify that these retweets are, in fact, duplicates
twitter_archive[twitter_archive.text.str.contains('Canela')]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: This is Canela. She attempted some fancy porch pics. They were unsuccessful. 13/10 someone help her https://t.co/cLyzpcUcMX,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,"https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/status/887473957103951883/photo/1",13,10,Canela,None,None,None,None
23,887473957103951883,NaN,NaN,2017-07-19 00:47:34 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Canela. She attempted some fancy porch pics. They were unsuccessful. 13/10 someone help her https://t.co/cLyzpcUcMX,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/status/887473957103951883/photo/1",13,10,Canela,None,None,None,None

In [136]:
image_predictions.sample(10)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1404,769695466921623552,https://pbs.twimg.com/media/Cq6B8V6XYAA1T1R.jpg,1,pug,0.407117,True,muzzle,0.165638,False,kuvasz,0.045837,True
1304,753294487569522689,https://pbs.twimg.com/media/CnQ9Vq1WEAEYP01.jpg,1,chow,0.194773,True,monitor,0.102305,False,Siberian_husky,0.086855,True
557,677687604918272002,https://pbs.twimg.com/media/CWehRdEWIAAySyO.jpg,1,Pembroke,0.573047,True,sunglasses,0.126758,False,golden_retriever,0.108047,True
413,673956914389192708,https://pbs.twimg.com/media/CVpgPGwWoAEV7gG.jpg,1,pug,0.586161,True,Brabancon_griffon,0.082744,True,Chihuahua,0.045878,True
36,666447344410484738,https://pbs.twimg.com/media/CT-yU5QWwAEjLX5.jpg,1,curly-coated_retriever,0.322084,True,giant_schnauzer,0.287955,True,Labrador_retriever,0.166331,True
1105,722974582966214656,https://pbs.twimg.com/media/CgiFjIpWgAA4wVp.jpg,1,Great_Dane,0.246762,True,Greater_Swiss_Mountain_dog,0.126131,True,Weimaraner,0.085297,True
1048,713411074226274305,https://pbs.twimg.com/media/CeaLlAPUMAIcC7U.jpg,1,Great_Pyrenees,0.720337,True,Samoyed,0.129542,True,kuvasz,0.122451,True
521,676575501977128964,https://pbs.twimg.com/media/CWOt07EUsAAnOYW.jpg,1,feather_boa,0.424106,False,Yorkshire_terrier,0.073144,True,Shetland_sheepdog,0.057598,True
802,691459709405118465,https://pbs.twimg.com/media/CZiO7mWUEAAa4zo.jpg,1,Shetland_sheepdog,0.551206,True,collie,0.232544,True,Border_collie,0.095218,True
485,675489971617296384,https://pbs.twimg.com/media/CV_SimUWoAAvJSY.jpg,1,West_Highland_white_terrier,0.139613,True,seat_belt,0.118647,False,Old_English_sheepdog,0.093952,True

In [137]:
image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [138]:
image_predictions.shape[0]

2075

In [355]:
#check for tweet_ids in common between image_predictions and twitter_archive
def find_common_tweet_ids(df1, df2):
    common = df1.merge(df2, on = ['tweet_id'])
    return common

In [356]:
#check for tweet_ids NOT in common (missing from image_predictions)
def find_missing_tweet_ids(df1, df2):
    missing = df1[(~df1.tweet_id.isin(df2.tweet_id))]
    return missing

In [368]:
#check for missing tweet_ids between twitter_archive and image_predictions
common = find_common_tweet_ids(twitter_archive, image_predictions)
missing = find_missing_tweet_ids(twitter_archive, image_predictions)

In [369]:
print(common.tweet_id.tail(5))
print(missing.tweet_id.tail(5))

2070    666049248165822465
2071    666044226329800704
2072    666033412701032449
2073    666029285002620928
2074    666020888022790149
Name: tweet_id, dtype: int64
2038    671550332464455680
2149    669684865554620416
2189    668967877119254528
2212    668587383441514497
2298    667070482143944705
Name: tweet_id, dtype: int64

In [371]:
#check if the sum of len(common) and len(missing) equals the entire length of twitter_archive
len(twitter_archive), len(common) + len(missing)

(2356, 2356)

In [372]:
#check for missing tweet_ids between twitter_archive and tweet_fields
common1 = find_common_tweet_ids(twitter_archive, tweet_fields)
missing1 = find_missing_tweet_ids(twitter_archive, tweet_fields)

In [373]:
print(common1.tweet_id.tail(5))
print(missing1.tweet_id.tail(5))

2329    666049248165822465
2330    666044226329800704
2331    666033412701032449
2332    666029285002620928
2333    666020888022790149
Name: tweet_id, dtype: int64
566     802247111496568832
784     775096608509886464
818     770743923962707968
932     754011816964026368
1726    680055455951884288
Name: tweet_id, dtype: int64

In [374]:
#check if the sum of len(common1) and len(missing1) equals the entire length of twitter_archive
len(twitter_archive), len(common1) + len(missing1)

(2356, 2356)

In [375]:
#check for missing ids in common between image_predictions and tweet_fields that are not present in twitter_archive
common3 = find_common_tweet_ids(missing, missing1)

In [376]:
print(common3.tweet_id)

0    872668790621863937
1    869988702071779329
2    866816280283807744
3    856602993587888130
4    845459076796616705
5    827228250799742977
6    812747805718642688
7    775096608509886464
8    770743923962707968
Name: tweet_id, dtype: int64

In [378]:
#check number of missing ids in common
len(common3)

9

In [140]:
image_predictions.query('p1_conf >= 0.95')

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,shopping_cart,0.962465,False,shopping_basket,1.459380e-02,False,golden_retriever,7.958960e-03,True
17,666104133288665088,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,1,hen,0.965932,False,cock,3.391940e-02,False,partridge,5.206580e-05,False
25,666362758909284353,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,1,guinea_pig,0.996496,False,skunk,2.402450e-03,False,hamster,4.608630e-04,False
27,666396247373291520,https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg,1,Chihuahua,0.978108,True,toy_terrier,9.396970e-03,True,papillon,4.576810e-03,True
40,666691418707132416,https://pbs.twimg.com/media/CUCQTpEWEAA7EDz.jpg,1,German_shepherd,0.975401,True,beagle,8.687270e-03,True,bloodhound,5.394040e-03,True
45,666786068205871104,https://pbs.twimg.com/media/CUDmZIkWcAAIPPe.jpg,1,snail,0.999888,False,slug,5.514170e-05,False,acorn,2.625800e-05,False
53,667012601033924608,https://pbs.twimg.com/media/CUG0bC0U8AAw2su.jpg,1,hyena,0.987230,False,African_hunting_dog,1.260080e-02,False,coyote,5.735010e-05,False
58,667090893657276420,https://pbs.twimg.com/media/CUH7oLuUsAELWib.jpg,1,Chihuahua,0.959514,True,Italian_greyhound,5.370150e-03,True,Pomeranian,2.641330e-03,True
76,667435689202614272,https://pbs.twimg.com/media/CUM1OHCW4AEgGSi.jpg,1,Rottweiler,0.999091,True,miniature_pinscher,4.503550e-04,True,black-and-tan_coonhound,1.571400e-04,True
77,667437278097252352,https://pbs.twimg.com/media/CUM2qWaWoAUZ06L.jpg,1,porcupine,0.989154,False,bath_towel,6.300490e-03,False,badger,9.663400e-04,False
78,667443425659232256,https://pbs.twimg.com/media/CUM8QZwW4AAVsBl.jpg,1,goose,0.980815,False,drake,6.917770e-03,False,hen,5.255170e-03,False
84,667502640335572993,https://pbs.twimg.com/media/CUNyHTMUYAAQVch.jpg,1,Labrador_retriever,0.996709,True,golden_retriever,1.688210e-03,True,beagle,7.116670e-04,True
93,667549055577362432,https://pbs.twimg.com/media/CUOcVCwWsAERUKY.jpg,1,electric_fan,0.984377,False,spotlight,7.736710e-03,False,lampshade,1.901230e-03,False
94,667550882905632768,https://pbs.twimg.com/media/CUObvUJVEAAnYPF.jpg,1,web_site,0.998258,False,dishwasher,2.010840e-04,False,oscilloscope,1.417360e-04,False
95,667550904950915073,https://pbs.twimg.com/media/CUOb_gUUkAACXdS.jpg,1,web_site,0.999335,False,vizsla,8.106320e-05,True,collie,6.915900e-05,True
105,667861340749471744,https://pbs.twimg.com/media/CUS4WJ-UsAEJj10.jpg,1,malamute,0.967275,True,Siberian_husky,1.616750e-02,True,Eskimo_dog,1.127740e-02,True
106,667866724293877760,https://pbs.twimg.com/media/CUS9PlUWwAANeAD.jpg,1,jigsaw_puzzle,1.000000,False,prayer_rug,1.011300e-08,False,doormat,1.740170e-10,False
107,667873844930215936,https://pbs.twimg.com/media/CUTDtyGXIAARxus.jpg,1,common_iguana,0.999647,False,frilled_lizard,1.811500e-04,False,African_chameleon,1.283570e-04,False
120,668190681446379520,https://pbs.twimg.com/media/CUXj4SgXAAETlu6.jpg,1,Blenheim_spaniel,0.958402,True,cocker_spaniel,2.676430e-02,True,Welsh_springer_spaniel,7.789910e-03,True
130,668291999406125056,https://pbs.twimg.com/media/CUZABzGW4AE5F0k.jpg,1,web_site,0.995535,False,skunk,1.363490e-03,False,badger,6.856500e-04,False
141,668567822092664832,https://pbs.twimg.com/media/CUc64knWoAkZt70.jpg,1,Shih-Tzu,0.985649,True,Lhasa,7.078320e-03,True,Pekinese,3.053230e-03,True
146,668627278264475648,https://pbs.twimg.com/media/CUdw9thWsAA4mB9.jpg,1,French_bulldog,0.965403,True,pug,8.603810e-03,True,Boston_bull,8.003560e-03,True
149,668636665813057536,https://pbs.twimg.com/media/CUd5gBGWwAA0IVA.jpg,1,komondor,0.999956,True,llama,4.309810e-05,False,ram,2.160900e-07,False
167,668986018524233728,https://pbs.twimg.com/media/CUi3PIrWoAAPvPT.jpg,1,doormat,0.976103,False,Chihuahua,5.639720e-03,True,Norfolk_terrier,3.912650e-03,True
168,668988183816871936,https://pbs.twimg.com/media/CUi5M7TXIAAY0gj.jpg,1,Arabian_camel,0.999614,False,bison,2.280900e-04,False,llama,6.717870e-05,False
178,669216679721873412,https://pbs.twimg.com/media/CUmJBS5WUAAKtrP.jpg,1,golden_retriever,0.992758,True,Irish_setter,3.379040e-03,True,Saluki,1.229630e-03,True
184,669354382627049472,https://pbs.twimg.com/media/CUoGQjdXAAAkaz2.jpg,1,Chihuahua,0.973990,True,French_bulldog,1.083200e-02,True,Pekinese,2.098650e-03,True
192,669567591774625800,https://pbs.twimg.com/media/CUrIK1DWoAAhECq.jpg,1,Chihuahua,0.980511,True,toy_terrier,9.166440e-03,True,miniature_pinscher,2.658510e-03,True
202,669683899023405056,https://pbs.twimg.com/media/CUsx8q_WUAA-m4k.jpg,1,Pomeranian,0.998275,True,Chihuahua,6.054760e-04,True,Pekinese,5.156880e-04,True
206,669926384437997569,https://pbs.twimg.com/media/CUwOfnDWcAIXryP.jpg,1,Pomeranian,0.984231,True,keeshond,1.023110e-02,True,papillon,2.218970e-03,True
...,...,...,...,...,...,...,...,...,...,...,...,...
1876,845812042753855489,https://pbs.twimg.com/media/C7ztkInW0AEh1CD.jpg,1,Samoyed,0.979803,True,chow,1.592260e-02,True,white_wolf,1.302790e-03,False
1877,846042936437604353,https://pbs.twimg.com/media/C72_iaUVUAEhZSn.jpg,1,golden_retriever,0.961110,True,Labrador_retriever,1.669520e-02,True,Tibetan_mastiff,9.081530e-03,True
1885,847842811428974592,https://pbs.twimg.com/media/C8QkidrVYAQXQh7.jpg,1,Bernese_mountain_dog,0.951337,True,Greater_Swiss_Mountain_dog,1.684910e-02,True,Appenzeller,1.084920e-02,True
1891,849051919805034497,https://pbs.twimg.com/media/C8hwNxbXYAAwyVG.jpg,1,fountain,0.997509,False,American_black_bear,1.413120e-03,False,sundial,6.811150e-04,False
1898,850753642995093505,https://pbs.twimg.com/media/C8576jrW0AEYWFy.jpg,1,pug,0.996952,True,bull_mastiff,9.959010e-04,True,French_bulldog,8.833800e-04,True
1899,851224888060895234,https://pbs.twimg.com/media/C9AohFoWsAUmxDs.jpg,3,car_mirror,0.971512,False,seat_belt,7.063460e-03,False,standard_poodle,5.682650e-03,True
1906,852311364735569921,https://pbs.twimg.com/media/C9QEqZ7XYAIR7fS.jpg,1,barbell,0.971581,False,dumbbell,2.841790e-02,False,go-kart,5.595040e-07,False
1923,857029823797047296,https://pbs.twimg.com/media/C-TIEwMW0AEjb55.jpg,2,golden_retriever,0.968623,True,Labrador_retriever,1.032520e-02,True,Saluki,4.148420e-03,True
1924,857263160327368704,https://pbs.twimg.com/media/C-WcS4MXoAADrBU.jpg,1,Samoyed,0.998021,True,Pomeranian,9.216360e-04,True,keeshond,3.112610e-04,True
1929,858471635011153920,https://pbs.twimg.com/media/C-nnZBdXkAAB-wg.jpg,1,Pembroke,0.987407,True,Cardigan,8.723030e-03,True,basenji,3.423730e-03,True
1957,865006731092295680,https://pbs.twimg.com/media/DAEfCFXUIAA1uqj.jpg,1,Pembroke,0.989882,True,Cardigan,9.906460e-03,True,basenji,1.349520e-04,True
1960,866334964761202691,https://pbs.twimg.com/media/DAXXDQNXgAAoYQH.jpg,1,Samoyed,0.984086,True,Pomeranian,7.919280e-03,True,keeshond,3.328130e-03,True
1972,869596645499047938,https://pbs.twimg.com/media/DBFtiYqWAAAsjj1.jpg,1,Chihuahua,0.955156,True,toy_terrier,8.053730e-03,True,muzzle,6.295630e-03,False
1973,869702957897576449,https://pbs.twimg.com/media/DBHOOfOXoAABKlU.jpg,1,Pembroke,0.993449,True,Cardigan,6.325080e-03,True,Chihuahua,1.775980e-04,True
1974,869772420881756160,https://pbs.twimg.com/media/DBINZcxXgAQ-R6P.jpg,1,Pembroke,0.980148,True,Cardigan,1.927110e-02,True,malamute,1.362600e-04,True
1981,871515927908634625,https://pbs.twimg.com/media/DBg_HT9WAAEeIMM.jpg,2,komondor,0.974781,True,briard,2.004130e-02,True,swab,3.228240e-03,False
1983,871879754684805121,https://pbs.twimg.com/media/DBmKAmBXUAE-pQ-.jpg,1,Shetland_sheepdog,0.969171,True,collie,1.826070e-02,True,Pomeranian,8.515340e-03,True
1985,872261713294495745,https://pbs.twimg.com/media/DBrlZk2UQAAfAkd.jpg,2,Labrador_retriever,0.972019,True,flat-coated_retriever,8.178280e-03,True,Chesapeake_Bay_retriever,7.359270e-03,True
1988,872820683541237760,https://pbs.twimg.com/media/DBzhx0PWAAEhl0E.jpg,3,pug,0.999120,True,French_bulldog,5.519200e-04,True,bull_mastiff,7.289040e-05,True
2005,877556246731214848,https://pbs.twimg.com/media/DC20wEcW0AAf59m.jpg,1,basset,0.995368,True,Welsh_springer_spaniel,1.936210e-03,True,bathtub,4.679190e-04,False
2011,879008229531029506,https://pbs.twimg.com/media/DDLdUrqXYAMOVzY.jpg,1,vizsla,0.960513,True,miniature_pinscher,9.430650e-03,True,American_Staffordshire_terrier,8.711300e-03,True
2032,883360690899218434,https://pbs.twimg.com/media/DEJT3FeXoAAtwUy.jpg,1,chow,0.987997,True,Tibetan_mastiff,7.098720e-03,True,Newfoundland,2.140330e-03,True
2036,884441805382717440,https://pbs.twimg.com/media/DEYrIZwWsAA2Wo5.jpg,1,Pembroke,0.993225,True,Cardigan,3.216480e-03,True,Chihuahua,2.080890e-03,True
2043,885984800019947520,https://pbs.twimg.com/media/DEumeWWV0AA-Z61.jpg,1,Blenheim_spaniel,0.972494,True,Shih-Tzu,6.630120e-03,True,Bernese_mountain_dog,6.239150e-03,True
2045,886366144734445568,https://pbs.twimg.com/media/DE0BTnQUwAApKEH.jpg,1,French_bulldog,0.999201,True,Chihuahua,3.611780e-04,True,Boston_bull,7.556160e-05,True
2054,888078434458587136,https://pbs.twimg.com/media/DFMWn56WsAAkA7B.jpg,1,French_bulldog,0.995026,True,pug,9.319080e-04,True,bull_mastiff,9.032110e-04,True
2060,889531135344209921,https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg,1,golden_retriever,0.953442,True,Labrador_retriever,1.383410e-02,True,redbone,7.957750e-03,True
2061,889638837579907072,https://pbs.twimg.com/media/DFihzFfXsAYGDPR.jpg,1,French_bulldog,0.991650,True,boxer,2.128640e-03,True,Staffordshire_bullterrier,1.498180e-03,True
2062,889665388333682689,https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg,1,Pembroke,0.966327,True,Cardigan,2.735570e-02,True,basenji,4.633230e-03,True
2064,890006608113172480,https://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg,1,Samoyed,0.957979,True,Pomeranian,1.388350e-02,True,chow,8.167480e-03,True

In [75]:
#check if timestamps in twitter archive and scraped tweets are consistent
time_const = twitter_archive[['tweet_id', 'timestamp']]
time_const = pd.merge(time_const, tweet_fields, on = 'tweet_id', how = 'left')

time_const.sample(20)

,tweet_id,timestamp,created_at,favorite_count,retweet_count
1827,676430933382295552,2015-12-14 15:57:56 +0000,Mon Dec 14 15:57:56 +0000 2015,1415.0,357.0
761,778286810187399168,2016-09-20 17:36:50 +0000,Tue Sep 20 17:36:50 +0000 2016,10892.0,3515.0
999,748220828303695873,2016-06-29 18:25:21 +0000,Wed Jun 29 18:25:21 +0000 2016,14631.0,8200.0
178,857263160327368704,2017-04-26 16:00:39 +0000,Wed Apr 26 16:00:39 +0000 2017,19939.0,4533.0
2103,670676092097810432,2015-11-28 18:50:15 +0000,Sat Nov 28 18:50:15 +0000 2015,245.0,43.0
1718,680176173301628928,2015-12-25 00:00:11 +0000,Fri Dec 25 00:00:11 +0000 2015,4010.0,1641.0
1003,747844099428986880,2016-06-28 17:28:22 +0000,Tue Jun 28 17:28:22 +0000 2016,2904.0,785.0
2085,670804601705242624,2015-11-29 03:20:54 +0000,Sun Nov 29 03:20:54 +0000 2015,1951.0,967.0
1512,691321916024623104,2016-01-24 18:09:23 +0000,Sun Jan 24 18:09:23 +0000 2016,2650.0,684.0
936,753375668877008896,2016-07-13 23:48:51 +0000,Wed Jul 13 23:48:51 +0000 2016,7923.0,2456.0
1126,729854734790754305,2016-05-10 02:05:03 +0000,Tue May 10 02:05:03 +0000 2016,4154.0,1172.0
1470,694001791655137281,2016-02-01 03:38:15 +0000,Mon Feb 01 03:38:15 +0000 2016,3499.0,1075.0
965,750429297815552001,2016-07-05 20:41:01 +0000,Tue Jul 05 20:41:01 +0000 2016,13643.0,4523.0
717,783695101801398276,2016-10-05 15:47:27 +0000,Wed Oct 05 15:47:27 +0000 2016,10963.0,3456.0
1851,675710890956750848,2015-12-12 16:16:45 +0000,Sat Dec 12 16:16:45 +0000 2015,1909.0,841.0
1005,747651430853525504,2016-06-28 04:42:46 +0000,Tue Jun 28 04:42:46 +0000 2016,1428.0,161.0
2316,666649482315059201,2015-11-17 16:09:56 +0000,Tue Nov 17 16:09:56 +0000 2015,1098.0,610.0
2066,671147085991960577,2015-11-30 02:01:49 +0000,Mon Nov 30 02:01:49 +0000 2015,671.0,228.0
1171,720415127506415616,2016-04-14 00:55:25 +0000,Thu Apr 14 00:55:25 +0000 2016,4239.0,1560.0
2327,666407126856765440,2015-11-17 00:06:54 +0000,Tue Nov 17 00:06:54 +0000 2015,103.0,37.0

## Quality ##

**`twitter_archive`**:

**Missing Data**

- `twitter_archive` contains 281 tweets that are missing from `image_predictions`.
- `twitter_archive` contains 22 tweets that are missing from `tweet_fields`. After dropping previous entries, there should be 13 tweets to be dropped.


- retweeted data indicates duplicated tweets.
- unnecessary anchor tags under **source**
- erroneous datatypes under **in_reply_to_status_id**, **in_reply_to_user_id**, **retweeted_status_id**, **retweeted_status_user_id**, **timestamp**, and **retweeted_status_timestamp**.
- inconsistent & inaccurate readings mapped from text to numerator & denominator fields (e.g. 24/7 being mistaken as a rating).
- some numerator values contain a decimal point (e.g. 9.75/10).
- **rating_denominator** has values besides 10
- nonsensical dog names such as *a, an, quite, by, actually, such, not, one*.
- inconsistent timestamp format between `twitter_archive` and `tweet_fields`.
- there is one entry with no rating.

## Tidiness

**`twitter_archive`**:

- **doggo**, **floofer**, **pupper**, and **puppo** all are not under 1 category variable.
- **favorite_count** and **retweet_count** fields under `tweet_fields` need to be merged with `twitter_archive`.
- **p1**, **p1_conf**, and **p1_dog** under `image_predictions` need to be merged with `twitter_archive`
- **timestamp** contains both *DateTime* and *time*

In [403]:
#before cleaning, create a clean copy of each DataFrame
arc_clean = twitter_archive.copy()
img_clean = image_predictions.copy()
tweets_clean = tweet_fields.copy()

## CLEAN

### Quality

> **Issue 1:** `twitter_archive` contains 281 tweets that are missing from `image_predictions.`

**Define**

Drop the tweets_ids from `twitter_archive` that are not present in `image_predictions`.


**Code**

In [404]:
missing_clean = find_missing_tweet_ids(arc_clean, img_clean)

missing_ids = missing_clean.tweet_id
arc_clean = arc_clean[(arc_clean.tweet_id.isin(img_clean.tweet_id))]

**Test**

In [405]:
#verify that 281 entries have been dropped from arc_clean
twitter_archive.shape[0] - arc_clean.shape[0]

281

> **Issue 1a:** `twitter_archive` contains 22 tweets that are missing from `tweet_fields.` After dropping the previous entries, there should be 13 tweets to be dropped.

**Define**

Drop the tweets_ids from `twitter_archive` that are not present in `tweet_fields`.

From the previous step, there 9 dropped tweet IDs in common with the missing IDs in `tweet_fields.` Excluding these tweets that were already dropped, there should be 22 - 9 = **13 tweets** dropped after this step, accounting for a **total 294 entries dropped.** (281 + 13)


**Code**

In [406]:
missing_clean2 = find_missing_tweet_ids(arc_clean, tweets_clean)

missing_ids2 = missing_clean2.tweet_id
arc_clean = arc_clean[(arc_clean.tweet_id.isin(tweets_clean.tweet_id))]

**Test**

In [407]:
#verify that 281 + 13 = 294 entries have been dropped from arc_clean
twitter_archive.shape[0] - arc_clean.shape[0]

294

> **Issue 2:** retweeted data under `twitter_archive` indicates duplicated tweets.

**Define**

All nonduplicate tweets have null values under **retweeted_status_id**, **retweeted_status_user_id**, and **retweeted_status_timestamp.**

1. drop all rows from `twitter_archive` where **retweeted_status_user_id** is not null.
2. drop the 3 columns as they are no longer necessary.


**Code**

In [409]:
#1. drop entries where retweeted_status_user_id is not null
arc_clean = arc_clean[arc_clean.retweeted_status_user_id.isna()]

**Test**

In [410]:
#check that there are no duplicates
len(arc_clean[~(arc_clean.retweeted_status_user_id.isna())])

0

**Code**

In [411]:
#2. drop unnecessary columns
arc_clean = arc_clean.drop(columns = ['retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp'])

**Test**

In [412]:
#check that columns don't exist
arc_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1988 entries, 0 to 2355
Data columns (total 14 columns):
tweet_id                 1988 non-null int64
in_reply_to_status_id    23 non-null float64
in_reply_to_user_id      23 non-null float64
timestamp                1988 non-null object
source                   1988 non-null object
text                     1988 non-null object
expanded_urls            1988 non-null object
rating_numerator         1988 non-null int64
rating_denominator       1988 non-null int64
name                     1988 non-null object
doggo                    1988 non-null object
floofer                  1988 non-null object
pupper                   1988 non-null object
puppo                    1988 non-null object
dtypes: float64(2), int64(3), object(9)
memory usage: 233.0+ KB

In [586]:
#new size of DataFrame
arc_clean.shape[0]

1987

> **Issue 3:** unnecessary anchor tags under source.

**Define**

Use RegEx to reformat the strings under **source** column and only display the text between the anchor tags.


**Code**

In [413]:
arc_clean.source = arc_clean.source.str.extract('<a[^>]*>(.*?)</a>')

**Test**

In [414]:
arc_clean.source.value_counts()

Twitter for iPhone    1950
Twitter Web Client    28
TweetDeck             10
Name: source, dtype: int64

> **Issue 4:** erroneous datatypes under **in_reply_to_status_id**, **in_reply_to_user_id**, **retweeted_status_id**, **retweeted_status_user_id**, **timestamp**, and **retweeted_status_timestamp**.

**Define**

1. change data type of **in_reply_to_status_id** and **in_reply_to_user_id to integer**
2. change data type of **timestamp** to DateTime.

*The retweeted columns can be ignored now that they've been dropped.*


**Code**

In [415]:
#convert in_reply_to_status_id and in_reply_to_user_id to int64
arc_clean = arc_clean.fillna(0)

arc_clean.in_reply_to_status_id = arc_clean.in_reply_to_status_id.astype(np.int64)
arc_clean.in_reply_to_user_id = arc_clean.in_reply_to_user_id.astype(np.int64)

In [416]:
#convert timestamp to datetime
arc_clean.timestamp = pd.to_datetime(arc_clean.timestamp)

**Test**

In [417]:
arc_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1988 entries, 0 to 2355
Data columns (total 14 columns):
tweet_id                 1988 non-null int64
in_reply_to_status_id    1988 non-null int64
in_reply_to_user_id      1988 non-null int64
timestamp                1988 non-null datetime64[ns, UTC]
source                   1988 non-null object
text                     1988 non-null object
expanded_urls            1988 non-null object
rating_numerator         1988 non-null int64
rating_denominator       1988 non-null int64
name                     1988 non-null object
doggo                    1988 non-null object
floofer                  1988 non-null object
pupper                   1988 non-null object
puppo                    1988 non-null object
dtypes: datetime64[ns, UTC](1), int64(5), object(8)
memory usage: 233.0+ KB

In [418]:
arc_clean[~(arc_clean['in_reply_to_status_id'] == 0)]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
149,863079547188785154,667152164079423488,4196983835,2017-05-12 17:12:53+00:00,Twitter for iPhone,"Ladies and gentlemen... I found Pipsy. He may have changed his name to Pablo, but he never changed his love for the sea. Pupgraded to 14/10 https://t.co/lVU5GyNFen",https://twitter.com/dog_rates/status/863079547188785154/photo/1,14,10,None,None,None,None,None
184,856526610513747968,855818117272018944,4196983835,2017-04-24 15:13:52+00:00,Twitter for iPhone,"THIS IS CHARLIE, MARK. HE DID JUST WANT TO SAY HI AFTER ALL. PUPGRADED TO A 14/10. WOULD BE AN HONOR TO FLY WITH https://t.co/p1hBHCmWnA",https://twitter.com/dog_rates/status/856526610513747968/photo/1,14,10,None,None,None,None,None
251,844979544864018432,759099523532779520,4196983835,2017-03-23 18:29:57+00:00,Twitter for iPhone,"PUPDATE: I'm proud to announce that Toby is 236 days sober. Pupgraded to a 13/10. We're all very proud of you, Toby https://t.co/a5OaJeRl9B","https://twitter.com/dog_rates/status/844979544864018432/photo/1,https://twitter.com/dog_rates/status/844979544864018432/photo/1,https://twitter.com/dog_rates/status/844979544864018432/photo/1",13,10,None,None,None,None,None
565,802265048156610565,733109485275860992,4196983835,2016-11-25 21:37:47+00:00,Twitter for iPhone,"Like doggo, like pupper version 2. Both 11/10 https://t.co/9IxWAXFqze",https://twitter.com/dog_rates/status/802265048156610565/photo/1,11,10,None,doggo,None,pupper,None
1016,746906459439529985,746885919387574272,4196983835,2016-06-26 03:22:31+00:00,Twitter for iPhone,"PUPDATE: can't see any. Even if I could, I couldn't reach them to pet. 0/10 much disappointment https://t.co/c7WXaB2nqX",https://twitter.com/dog_rates/status/746906459439529985/photo/1,0,10,None,None,None,None,None
1018,746818907684614144,691416866452082688,4196983835,2016-06-25 21:34:37+00:00,Twitter for iPhone,Guys... Dog Jesus 2.0\n13/10 buoyant af https://t.co/CuNA7OwfKQ,https://twitter.com/dog_rates/status/746818907684614144/photo/1,13,10,None,None,None,None,None
1127,729838605770891264,729113531270991872,4196983835,2016-05-10 01:00:58+00:00,Twitter for iPhone,"""Challenge completed"" \n(pupgraded to 12/10) https://t.co/85dTK7XCXB",https://twitter.com/dog_rates/status/729838605770891264/video/1,12,10,None,None,None,None,None
1330,705786532653883392,703255935813287936,4196983835,2016-03-04 16:06:36+00:00,Twitter for iPhone,"Seriously, add us 🐶 11/10 for sad wet pupper https://t.co/xwPE9faVZR",https://twitter.com/dog_rates/status/705786532653883392/photo/1,11,10,None,None,None,pupper,None
1339,704871453724954624,667152164079423488,4196983835,2016-03-02 03:30:25+00:00,Twitter for iPhone,I found a forest Pipsy. 12/10 https://t.co/mIQ1KoVsmU,https://twitter.com/dog_rates/status/704871453724954624/photo/1,12,10,None,None,None,None,None
1356,703425003149250560,703041949650034688,4196983835,2016-02-27 03:42:44+00:00,Twitter for iPhone,"Really guys? Again? I know this is a rare Albanian Bingo Seal, but we only rate dogs. Only send in dogs... 9/10 https://t.co/6JYLpUmBrC",https://twitter.com/dog_rates/status/703425003149250560/photo/1,9,10,None,None,None,None,None
1452,695767669421768709,675349384339542016,4196983835,2016-02-06 00:35:13+00:00,Twitter for iPhone,If you are aware of who is making these please let me know. 13/10 vroom vroom https://t.co/U0D1sbIDrG,https://twitter.com/dog_rates/status/695767669421768709/photo/1,13,10,None,None,None,None,None
1464,694356675654983680,670668383499735040,4196983835,2016-02-02 03:08:26+00:00,Twitter for iPhone,"This pupper only appears through the hole of a Funyun. Much like Phineas, this one is also mysterious af. 10/10 https://t.co/SQsEBWxPyG",https://twitter.com/dog_rates/status/694356675654983680/photo/1,10,10,None,None,None,pupper,None
1501,692142790915014657,692041934689402880,4196983835,2016-01-27 00:31:15+00:00,Twitter for iPhone,These are some pictures of Teddy that further justify his 13/10 rating. Please enjoy https://t.co/tDkJAnQsbQ,"https://twitter.com/dog_rates/status/692142790915014657/photo/1,https://twitter.com/dog_rates/status/692142790915014657/photo/1,https://twitter.com/dog_rates/status/692142790915014657/photo/1,https://twitter.com/dog_rates/status/692142790915014657/photo/1",13,10,None,None,None,None,None
1630,684538444857667585,684481074559381504,4196983835,2016-01-06 00:54:18+00:00,Twitter for iPhone,"After watching this video, we've determined that Pippa will be upgraded to a 12/10. Please enjoy https://t.co/IKoRK4yoxV",https://twitter.com/dog_rates/status/684538444857667585/video/1,12,10,None,None,None,None,None
1634,684225744407494656,684222868335505408,4196983835,2016-01-05 04:11:44+00:00,Twitter for iPhone,"Two sneaky puppers were not initially seen, moving the rating to 143/130. Please forgive us. Thank you https://t.co/kRK51Y5ac3","https://twitter.com/dog_rates/status/684225744407494656/photo/1,https://twitter.com/dog_rates/status/684225744407494656/photo/1",143,130,None,None,None,None,None
1842,675870721063669760,675707330206547968,4196983835,2015-12-13 02:51:51+00:00,Twitter for iPhone,&amp; this is Yoshi. Another world record contender 11/10 (what the hell is happening why are there so many contenders?) https://t.co/QG708dDNH6,https://twitter.com/dog_rates/status/675870721063669760/photo/1,11,10,None,None,None,None,None
1852,675707330206547968,675497103322386432,4196983835,2015-12-12 16:02:36+00:00,Twitter for iPhone,We've got ourselves a battle here. Watch out Reggie. 11/10 https://t.co/ALJvbtcwf0,https://twitter.com/dog_rates/status/675707330206547968/photo/1,11,10,None,None,None,None,None
1866,675349384339542016,674999807681908736,4196983835,2015-12-11 16:20:15+00:00,Twitter for iPhone,Yea I lied. Here's more. All 13/10 https://t.co/ZQZf2U4xCP,"https://twitter.com/dog_rates/status/675349384339542016/photo/1,https://twitter.com/dog_rates/status/675349384339542016/photo/1,https://twitter.com/dog_rates/status/675349384339542016/photo/1,https://twitter.com/dog_rates/status/675349384339542016/photo/1",13,10,None,None,None,None,None
1882,674999807681908736,674793399141146624,4196983835,2015-12-10 17:11:09+00:00,Twitter for iPhone,Ok last one of these. I may try to make some myself. Anyway here ya go. 13/10 https://t.co/i9CDd1oEu8,https://twitter.com/dog_rates/status/674999807681908736/photo/1,13,10,None,None,None,None,None
1885,674793399141146624,671729906628341760,4196983835,2015-12-10 03:30:58+00:00,Twitter for iPhone,I have found another. 13/10 https://t.co/HwroPYv8pY,https://twitter.com/dog_rates/status/674793399141146624/photo/1,13,10,None,None,None,None,None
1892,674754018082705410,674752233200820224,4196983835,2015-12-10 00:54:28+00:00,Twitter for iPhone,Just received another perfect photo of dogs and the sunset. 12/10 https://t.co/9YmNcxA2Cc,https://twitter.com/dog_rates/status/674754018082705410/photo/1,12,10,None,None,None,None,None
2036,671729906628341761,671561002136281088,4196983835,2015-12-01 16:37:44+00:00,Twitter for iPhone,I'm just going to leave this one here as well. 13/10 https://t.co/DaD5SyajWt,https://twitter.com/dog_rates/status/671729906628341761/photo/1,13,10,None,None,None,None,None
2169,669353438988365824,667806454573760512,4196983835,2015-11-25 03:14:30+00:00,Twitter for iPhone,This is Tessa. She is also very pleased after finally meeting her biological father. 10/10 https://t.co/qDS1aCqppv,https://twitter.com/dog_rates/status/669353438988365824/photo/1,10,10,Tessa,None,None,None,None

> **Issue 4:** inconsistent & inaccurate readings mapped from text to numerator & denominator fields (e.g. 24/7 being mistaken as a rating).

**Define**

Compare the untruncated **text** with each rating where tha denominator is not equal to 10, and correct them accordingly.


**Code**

In [419]:
arc_clean[arc_clean['rating_denominator'] != 10][['tweet_id', 'text', 'rating_numerator', 'rating_denominator']]

,tweet_id,text,rating_numerator,rating_denominator
433,820690176645140481,The floofs have been released I repeat the floofs have been released. 84/70 https://t.co/NIYC820tmd,84,70
516,810984652412424192,Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \nKeep Sam smiling by clicking and sharing this link:\nhttps://t.co/98tB8y7y7t https://t.co/LouL5vdvxx,24,7
902,758467244762497024,Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE,165,150
1068,740373189193256964,"After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https://t.co/XAVDNDaVgQ",9,11
1120,731156023742988288,Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv,204,170
1165,722974582966214656,Happy 4/20 from the squad! 13/10 for all https://t.co/eV1diwds8a,4,20
1202,716439118184652801,This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10 https://t.co/Kky1DPG4iq,50,50
1228,713900603437621249,Happy Saturday here's 9 puppers on a bench. 99/90 good work everybody https://t.co/mpvaVxKmc1,99,90
1254,710658690886586372,Here's a brigade of puppers. All look very prepared for whatever happens next. 80/80 https://t.co/0eb7R1Om12,80,80
1274,709198395643068416,"From left to right:\nCletus, Jerome, Alejandro, Burp, &amp; Titson\nNone know where camera is. 45/50 would hug all at once https://t.co/sedre1ivTK",45,50
1351,704054845121142784,Here is a whole flock of puppers. 60/50 I'll take the lot https://t.co/9dpcw6MdWa,60,50
1433,697463031882764288,Happy Wednesday here's a bucket of pups. 44/40 would pet all at once https://t.co/HppvrYuamZ,44,40
1634,684225744407494656,"Two sneaky puppers were not initially seen, moving the rating to 143/130. Please forgive us. Thank you https://t.co/kRK51Y5ac3",143,130
1635,684222868335505415,Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110 https://t.co/1zfnTJLt55,121,110
1662,682962037429899265,This is Darrel. He just robbed a 7/11 and is in a high speed police chase. Was just spotted by the helicopter 10/10 https://t.co/7EsP8LmSp5,7,11
1779,677716515794329600,IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq,144,120
1843,675853064436391936,Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once https://t.co/y93p6FLvVw,88,80
2335,666287406224695296,This is an Albanian 3 1/2 legged Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv,1,2

***Tracking***

Correct Tweet IDs (rating was recorded correctly):
- 820690176645140481
- 758467244762497024
- 731156023742988288
- 710658690886586372
- 709198395643068416
- 704054845121142784
- 697463031882764288	
- 684225744407494656
- 684222868335505415	
- 677716515794329600	
- 675853064436391936

Wrong Tweet IDs (along with correct ratings):
- 810984652412424192 (NA)
- 740373189193256964 (14/10)
- 722974582966214656 (13/10)
- 716439118184652801 (11/10)
- 713900603437621249 (99/90)
- 682962037429899265 (10/10)
- 666287406224695296 (9/10)

***So far, there are 7 corrections we have to make.***

In [420]:
ids_to_correct = [810984652412424192, 740373189193256964, 722974582966214656, 716439118184652801,
                  713900603437621249, 682962037429899265, 666287406224695296]

In [421]:
def correct_rating(tweet_id):
    if (tweet_id == ids_to_correct[0]):
        return [0, 0]
    elif (tweet_id == ids_to_correct[1]):
        return [14, 10]
    elif (tweet_id == ids_to_correct[2]):
        return [13, 10]
    elif (tweet_id == ids_to_correct[3]):
        return [11, 10]
    elif (tweet_id == ids_to_correct[4]):
        return [99, 90]
    elif (tweet_id == ids_to_correct[5]):
        return [10, 10]
    elif (tweet_id == ids_to_correct[6]):
        return [9, 10]
    else:
        return

In [422]:
for index, row in arc_clean[arc_clean.tweet_id.isin(ids_to_correct)].iterrows():
    rating = correct_rating(row['tweet_id'])
    if (rating is not None):
        arc_clean.at[index, 'rating_numerator'] = rating[0]
        arc_clean.at[index, 'rating_denominator'] = rating[1]

**Test**

In [423]:
arc_clean['rating_denominator'].value_counts()

10     1975
80     2
50     2
170    1
150    1
130    1
120    1
110    1
90     1
70     1
40     1
0      1
Name: rating_denominator, dtype: int64

> **Issue 5:** some numerator values contain a decimal point (e.g. 9.75/10).

**Define**

Correct the numerators of the isolated tweet IDs from the text, then round them to account for the columns' int datatype.

I isolated these Tweet IDs through visual assessment.

**Code**

In [424]:
#make corrections to wrongly recorded numerators.
ids_wrong_numerator = [786709082849828864, 680494726643068929]

In [425]:
arc_clean.query('tweet_id == @ids_wrong_numerator[0] or tweet_id == @ids_wrong_numerator[1]')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
695,786709082849828864,0,0,2016-10-13 23:23:56+00:00,Twitter for iPhone,"This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10 https://t.co/yBO5wuqaPS",https://twitter.com/dog_rates/status/786709082849828864/photo/1,75,10,Logan,None,None,None,None
1712,680494726643068929,0,0,2015-12-25 21:06:00+00:00,Twitter for iPhone,Here we have uncovered an entire battalion of holiday puppers. Average of 11.26/10 https://t.co/eNm2S6p9BD,https://twitter.com/dog_rates/status/680494726643068929/photo/1,26,10,None,None,None,None,None

***Tracking:***

- 786709082849828864 (9.75/10)
- 680494726643068929 (11.26/10)

In [426]:
arc_clean.at[695, 'rating_numerator'] = round(9.75)
arc_clean.at[1712, 'rating_numerator'] = round(11.26)

**Test**

In [427]:
arc_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1988 entries, 0 to 2355
Data columns (total 14 columns):
tweet_id                 1988 non-null int64
in_reply_to_status_id    1988 non-null int64
in_reply_to_user_id      1988 non-null int64
timestamp                1988 non-null datetime64[ns, UTC]
source                   1988 non-null object
text                     1988 non-null object
expanded_urls            1988 non-null object
rating_numerator         1988 non-null int64
rating_denominator       1988 non-null int64
name                     1988 non-null object
doggo                    1988 non-null object
floofer                  1988 non-null object
pupper                   1988 non-null object
puppo                    1988 non-null object
dtypes: datetime64[ns, UTC](1), int64(5), object(8)
memory usage: 313.0+ KB

In [428]:
arc_clean.query('tweet_id == @ids_wrong_numerator[0] or tweet_id == @ids_wrong_numerator[1]')[['tweet_id','rating_numerator', 'rating_denominator']]

                tweet_id  rating_numerator  rating_denominator
695   786709082849828864  10                10
1712  680494726643068929  11                10

> **Issue 6:** rating_denominator has values besides 10

**Define**

Normalize the ratings using a common ratio so that they all have a common denominator of 10. Create 2 new columns for these normalized numerators and denominators.

e.g. for a rating of 200/50, calculate 200/50 = x/10 where x is the new normalized numerator.

$$\frac{numerator}{denominator} = \frac{x}{10} $$

$$ 10 * \frac{numerator}{denominator} = x $$

**Code**

In [429]:
for i, row in arc_clean.iterrows():
    if(row['rating_numerator'] != 0 and row['rating_denominator'] != 0):
        normalized_numerator = round(10 * (row['rating_numerator']/row['rating_denominator']))
        arc_clean.at[i, 'normalized_numerator'] = int(normalized_numerator)
    else:
        arc_clean.at[i, 'normalized_numerator'] = 0

In [430]:
#convert normalized_numerator to int
arc_clean.normalized_numerator = arc_clean.normalized_numerator.astype(np.int64)

**Test**

In [431]:
#check ratings where denominators are not 10
arc_clean.query('rating_denominator != 10')[['tweet_id', 'rating_numerator', 'rating_denominator', 'normalized_numerator']]

,tweet_id,rating_numerator,rating_denominator,normalized_numerator
433,820690176645140481,84,70,12
516,810984652412424192,0,0,0
902,758467244762497024,165,150,11
1120,731156023742988288,204,170,12
1228,713900603437621249,99,90,11
1254,710658690886586372,80,80,10
1274,709198395643068416,45,50,9
1351,704054845121142784,60,50,12
1433,697463031882764288,44,40,11
1634,684225744407494656,143,130,11
1635,684222868335505415,121,110,11
1779,677716515794329600,144,120,12
1843,675853064436391936,88,80,11

In [432]:
#for denominators with 10, verify that numerators are unchanged
arc_clean.query('rating_denominator == 10')[['tweet_id', 'rating_numerator', 'rating_denominator', 'normalized_numerator']].sample(10)

,tweet_id,rating_numerator,rating_denominator,normalized_numerator
1027,746056683365994496,11,10,11
1560,688519176466644993,12,10,12
1017,746872823977771008,11,10,11
970,750117059602808832,10,10,10
540,806542213899489280,11,10,11
2290,667171260800061440,10,10,10
1656,683357973142474752,10,10,10
1755,678774928607469569,11,10,11
33,885984800019947520,12,10,12
297,837110210464448512,13,10,13

> **Issue 7:** invalid dog names such as a, an, quite, by, actually, such, not, one.

**Define**

Remove all lower case strings under the **name** field. Invalid names all share 1 common property: the first character is always lower case.

**Code**

In [436]:
name_mask = arc_clean.name.str.islower()
arc_clean['name'] = arc_clean['name'].where(~name_mask, other='None')

**Test**

In [446]:
#verify that all names are capitalized
arc_clean.name.str.islower().value_counts()

False    1988
Name: name, dtype: int64

> **Issue 8:** inconsistent timestamp format between `twitter_archive` and `tweet_fields`.

**Define**

Drop the **created_at** column under `tweet_fields`. The format for timestamp under `twitter_archive` is recognized as legitimate by Panda's datetime().

**Code**

In [458]:
tweets_clean = tweets_clean.drop(columns = 'created_at')

**Test**

In [459]:
tweets_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2334 entries, 0 to 2333
Data columns (total 3 columns):
tweet_id          2334 non-null int64
favorite_count    2334 non-null int64
retweet_count     2334 non-null int64
dtypes: int64(3)
memory usage: 54.8 KB

> **Issue 10:** there is one entry with no rating.

**Define**

Drop the entry in `arc_clean` where I previously set the numerator and denominator to 0 as a placeholder for NaN.

**Code**

In [467]:
drop_index = arc_clean.query('rating_denominator == 0').index[0]
arc_clean = arc_clean.drop(drop_index)

**Test**

In [470]:
arc_clean.rating_denominator.value_counts()

10     1975
80     2
50     2
170    1
150    1
130    1
120    1
110    1
90     1
70     1
40     1
Name: rating_denominator, dtype: int64

### Tidiness

> **Issue 1:** **doggo**, **floofer**, **pupper**, and **puppo** all are not under 1 category variable.

**Define**

1. Create a new column **dog_stage** and set values to where prior dog stage columns are not equal to None. Separate dog stages by comma if a tweet falls under more than 1 stage.
2. Drop **doggo**, **floofer**, **pupper**, and **puppo** columns.


**Code**

In [547]:
#1. create dog_stage column with dog stages
arc_clean['dog_stage'] = 'None'

In [571]:
for i, row in arc_clean.iterrows():
    stage_string = 'None'
    if row['doggo'] != 'None':
        stage_string += 'doggo, '
    if row['floofer'] != 'None':
        stage_string += 'floofer, '
    if row['pupper'] != 'None':
        stage_string += 'pupper, '
    if row['puppo'] != 'None':
        stage_string += 'puppo'
        
    arc_clean.at[i, 'dog_stage'] = stage_string

In [572]:
all_mask = mask_all_stages(arc_clean)

#strip commas and replace None values for entries with >= 1 dog stage
arc_clean.dog_stage[all_mask] = arc_clean[all_mask].dog_stage.str.replace('None', '').str.strip(', ')

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [578]:
#drop doggo, floofer, pupper, and puppo stages
arc_clean.drop(columns = ['doggo', 'floofer', 'pupper', 'puppo'], inplace = True)

**Test**

In [573]:
single_mask = mask_single_stages(arc_clean)
duplicate_mask = mask_duplicate_stages(arc_clean)

In [574]:
arc_clean[all_mask].sample(10).iloc[:, -1]

1192    pupper
977     doggo
191     doggo, puppo
1590    pupper
802     pupper
1063    doggo, pupper
483     pupper
1059    pupper
1250    pupper
240     doggo
Name: dog_stage, dtype: object

In [575]:
arc_clean[duplicate_mask].iloc[:, -1]

191     doggo, puppo
200     doggo, floofer
460     doggo, pupper
531     doggo, pupper
565     doggo, pupper
575     doggo, pupper
705     doggo, pupper
889     doggo, pupper
956     doggo, pupper
1063    doggo, pupper
1113    doggo, pupper
Name: dog_stage, dtype: object

In [576]:
arc_clean[single_mask].sample(10).iloc[:, -1]

56      pupper
1157    pupper
1279    pupper
582     floofer
1617    pupper
1122    pupper
429     doggo
1000    pupper
1049    pupper
2015    pupper
Name: dog_stage, dtype: object

In [577]:
#check that None is preserved for entries with no recorded dog stages
arc_clean.sample(10).iloc[:,-1]

1267    None
1384    None
1747    None
1613    None
1091    floofer
1152    pupper
2188    None
1490    None
389     doggo
1131    None
Name: dog_stage, dtype: object

In [579]:
#check that columns have dropped
arc_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1987 entries, 0 to 2355
Data columns (total 12 columns):
tweet_id                 1987 non-null int64
in_reply_to_status_id    1987 non-null int64
in_reply_to_user_id      1987 non-null int64
timestamp                1987 non-null datetime64[ns, UTC]
source                   1987 non-null object
text                     1987 non-null object
expanded_urls            1987 non-null object
rating_numerator         1987 non-null int64
rating_denominator       1987 non-null int64
name                     1987 non-null object
normalized_numerator     1987 non-null int64
dog_stage                1987 non-null object
dtypes: datetime64[ns, UTC](1), int64(6), object(5)
memory usage: 281.8+ KB

> **Issue 2:** favorite_count and retweet_count fields under `tweets_clean` need to be merged with `arc_clean.`

**Define**

1. Perform an inner merge between `tweets_clean` and `arc_clean` on **tweet_id**, and add **favorite_count** & **retweet_count** fields from `tweets_clean`.

**Code**

In [584]:
arc_clean = pd.merge(arc_clean, tweets_clean, on = 'tweet_id')

**Test**

In [587]:
#make sure size is preserved
arc_clean.shape[0]

1987

> **Issue 3:** **p1**, **p1_conf**, and **p1_dog** under `image_predictions` need to be merged with `twitter_archive`

**Define**

1. Perform an inner merge between `tweets_clean` and `arc_clean` on **tweet_id**, and add **favorite_count** & **retweet_count** fields from `tweets_clean`.

**Code**

## Analysis

- On average, do certain dog breeds tend to get higher ratings?

- Which time of day does the follower count for the WeRateDogs page tend to spike?

# Sources

https://stackoverflow.com/questions/28384588/twitter-api-get-tweets-with-specific-id

https://stackoverflow.com/questions/27900451/convert-tweepy-status-object-into-json

https://stackoverflow.com/questions/7370801/measure-time-elapsed-in-python

- https://github.com/gouravaich/wrangle-analyze-weratedogs-twitter/blob/master/Solution.ipynb (this is where I got the idea to add an error file)

https://stackoverflow.com/questions/3395138/using-multiple-arguments-for-string-formatting-in-python-e-g-s-s

https://stackoverflow.com/questions/25351968/how-to-display-full-non-truncated-dataframe-information-in-html-when-convertin